@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?toxcrd') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?toxcrd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?toxcrd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?toxcrd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-px {
  &:before {
    content: $fa-px; 
  }
}
.fa-activitypub {
  &:before {
    content: $fa-activitypub; 
  }
}
.fa-address-book {
  &:before {
    content: $fa-address-book; 
  }
}
.fa-address-book-o {
  &:before {
    content: $fa-address-book-o; 
  }
}
.fa-address-card {
  &:before {
    content: $fa-address-card; 
  }
}
.fa-address-card-o {
  &:before {
    content: $fa-address-card-o; 
  }
}
.fa-adjust {
  &:before {
    content: $fa-adjust; 
  }
}
.fa-adn {
  &:before {
    content: $fa-adn; 
  }
}
.fa-align-center {
  &:before {
    content: $fa-align-center; 
  }
}
.fa-align-justify {
  &:before {
    content: $fa-align-justify; 
  }
}
.fa-align-left {
  &:before {
    content: $fa-align-left; 
  }
}
.fa-align-right {
  &:before {
    content: $fa-align-right; 
  }
}
.fa-amazon {
  &:before {
    content: $fa-amazon; 
  }
}
.fa-ambulance {
  &:before {
    content: $fa-ambulance; 
  }
}
.fa-american-sign-language-interpreting {
  &:before {
    content: $fa-american-sign-language-interpreting; 
  }
}
.fa-anchor {
  &:before {
    content: $fa-anchor; 
  }
}
.fa-android {
  &:before {
    content: $fa-android; 
  }
}
.fa-angellist {
  &:before {
    content: $fa-angellist; 
  }
}
.fa-angle-double-down {
  &:before {
    content: $fa-angle-double-down; 
  }
}
.fa-angle-double-left {
  &:before {
    content: $fa-angle-double-left; 
  }
}
.fa-angle-double-right {
  &:before {
    content: $fa-angle-double-right; 
  }
}
.fa-angle-double-up {
  &:before {
    content: $fa-angle-double-up; 
  }
}
.fa-angle-down {
  &:before {
    content: $fa-angle-down; 
  }
}
.fa-angle-left {
  &:before {
    content: $fa-angle-left; 
  }
}
.fa-angle-right {
  &:before {
    content: $fa-angle-right; 
  }
}
.fa-angle-up {
  &:before {
    content: $fa-angle-up; 
  }
}
.fa-apple {
  &:before {
    content: $fa-apple; 
  }
}
.fa-archive {
  &:before {
    content: $fa-archive; 
  }
}
.fa-archive-org {
  &:before {
    content: $fa-archive-org; 
  }
}
.fa-archlinux {
  &:before {
    content: $fa-archlinux; 
  }
}
.fa-area-chart {
  &:before {
    content: $fa-area-chart; 
  }
}
.fa-arrow-circle-down {
  &:before {
    content: $fa-arrow-circle-down; 
  }
}
.fa-arrow-circle-left {
  &:before {
    content: $fa-arrow-circle-left; 
  }
}
.fa-arrow-circle-o-down {
  &:before {
    content: $fa-arrow-circle-o-down; 
  }
}
.fa-arrow-circle-o-left {
  &:before {
    content: $fa-arrow-circle-o-left; 
  }
}
.fa-arrow-circle-o-right {
  &:before {
    content: $fa-arrow-circle-o-right; 
  }
}
.fa-arrow-circle-o-up {
  &:before {
    content: $fa-arrow-circle-o-up; 
  }
}
.fa-arrow-circle-right {
  &:before {
    content: $fa-arrow-circle-right; 
  }
}
.fa-arrow-circle-up {
  &:before {
    content: $fa-arrow-circle-up; 
  }
}
.fa-arrow-down {
  &:before {
    content: $fa-arrow-down; 
  }
}
.fa-arrow-left {
  &:before {
    content: $fa-arrow-left; 
  }
}
.fa-arrow-right {
  &:before {
    content: $fa-arrow-right; 
  }
}
.fa-arrows {
  &:before {
    content: $fa-arrows; 
  }
}
.fa-arrows-alt {
  &:before {
    content: $fa-arrows-alt; 
  }
}
.fa-arrows-h {
  &:before {
    content: $fa-arrows-h; 
  }
}
.fa-arrows-v {
  &:before {
    content: $fa-arrows-v; 
  }
}
.fa-arrow-up {
  &:before {
    content: $fa-arrow-up; 
  }
}
.fa-artstation {
  &:before {
    content: $fa-artstation; 
  }
}
.fa-askfm {
  &:before {
    content: $fa-askfm; 
  }
}
.fa-assistive-listening-systems {
  &:before {
    content: $fa-assistive-listening-systems; 
  }
}
.fa-asterisk {
  &:before {
    content: $fa-asterisk; 
  }
}
.fa-at {
  &:before {
    content: $fa-at; 
  }
}
.fa-att {
  &:before {
    content: $fa-att; 
  }
}
.fa-audio-description {
  &:before {
    content: $fa-audio-description; 
  }
}
.fa-backward {
  &:before {
    content: $fa-backward; 
  }
}
.fa-balance-scale {
  &:before {
    content: $fa-balance-scale; 
  }
}
.fa-ban {
  &:before {
    content: $fa-ban; 
  }
}
.fa-bandcamp {
  &:before {
    content: $fa-bandcamp; 
  }
}
.fa-bar-chart {
  &:before {
    content: $fa-bar-chart; 
  }
}
.fa-barcode {
  &:before {
    content: $fa-barcode; 
  }
}
.fa-bars {
  &:before {
    content: $fa-bars; 
  }
}
.fa-bath {
  &:before {
    content: $fa-bath; 
  }
}
.fa-battery-empty {
  &:before {
    content: $fa-battery-empty; 
  }
}
.fa-battery-full {
  &:before {
    content: $fa-battery-full; 
  }
}
.fa-battery-half {
  &:before {
    content: $fa-battery-half; 
  }
}
.fa-battery-quarter {
  &:before {
    content: $fa-battery-quarter; 
  }
}
.fa-battery-three-quarters {
  &:before {
    content: $fa-battery-three-quarters; 
  }
}
.fa-bed {
  &:before {
    content: $fa-bed; 
  }
}
.fa-beer {
  &:before {
    content: $fa-beer; 
  }
}
.fa-behance {
  &:before {
    content: $fa-behance; 
  }
}
.fa-behance-square {
  &:before {
    content: $fa-behance-square; 
  }
}
.fa-bell {
  &:before {
    content: $fa-bell; 
  }
}
.fa-bell-o {
  &:before {
    content: $fa-bell-o; 
  }
}
.fa-bell-rigning-o {
  &:before {
    content: $fa-bell-rigning-o; 
  }
}
.fa-bell-ringing {
  &:before {
    content: $fa-bell-ringing; 
  }
}
.fa-bell-slash {
  &:before {
    content: $fa-bell-slash; 
  }
}
.fa-bell-slash-o {
  &:before {
    content: $fa-bell-slash-o; 
  }
}
.fa-bicycle {
  &:before {
    content: $fa-bicycle; 
  }
}
.fa-binoculars {
  &:before {
    content: $fa-binoculars; 
  }
}
.fa-biometric {
  &:before {
    content: $fa-biometric; 
  }
}
.fa-birthday-cake {
  &:before {
    content: $fa-birthday-cake; 
  }
}
.fa-bitbucket {
  &:before {
    content: $fa-bitbucket; 
  }
}
.fa-bitbucket-square {
  &:before {
    content: $fa-bitbucket-square; 
  }
}
.fa-black-tie {
  &:before {
    content: $fa-black-tie; 
  }
}
.fa-blind {
  &:before {
    content: $fa-blind; 
  }
}
.fa-blockstack {
  &:before {
    content: $fa-blockstack; 
  }
}
.fa-bluetooth {
  &:before {
    content: $fa-bluetooth; 
  }
}
.fa-bluetooth-b {
  &:before {
    content: $fa-bluetooth-b; 
  }
}
.fa-boardgamegeek {
  &:before {
    content: $fa-boardgamegeek; 
  }
}
.fa-bold {
  &:before {
    content: $fa-bold; 
  }
}
.fa-bolt {
  &:before {
    content: $fa-bolt; 
  }
}
.fa-bomb {
  &:before {
    content: $fa-bomb; 
  }
}
.fa-book {
  &:before {
    content: $fa-book; 
  }
}
.fa-bookmark {
  &:before {
    content: $fa-bookmark; 
  }
}
.fa-bookmark-o {
  &:before {
    content: $fa-bookmark-o; 
  }
}
.fa-bootstrap {
  &:before {
    content: $fa-bootstrap; 
  }
}
.fa-braille {
  &:before {
    content: $fa-braille; 
  }
}
.fa-briefcase {
  &:before {
    content: $fa-briefcase; 
  }
}
.fa-btc {
  &:before {
    content: $fa-btc; 
  }
}
.fa-bug {
  &:before {
    content: $fa-bug; 
  }
}
.fa-building {
  &:before {
    content: $fa-building; 
  }
}
.fa-building-o {
  &:before {
    content: $fa-building-o; 
  }
}
.fa-bullhorn {
  &:before {
    content: $fa-bullhorn; 
  }
}
.fa-bullseye {
  &:before {
    content: $fa-bullseye; 
  }
}
.fa-bunny {
  &:before {
    content: $fa-bunny; 
  }
}
.fa-bus {
  &:before {
    content: $fa-bus; 
  }
}
.fa-buymeacoffee {
  &:before {
    content: $fa-buymeacoffee; 
  }
}
.fa-buysellads {
  &:before {
    content: $fa-buysellads; 
  }
}
.fa-c {
  &:before {
    content: $fa-c; 
  }
}
.fa-calculator {
  &:before {
    content: $fa-calculator; 
  }
}
.fa-calendar {
  &:before {
    content: $fa-calendar; 
  }
}
.fa-calendar-check-o {
  &:before {
    content: $fa-calendar-check-o; 
  }
}
.fa-calendar-minus-o {
  &:before {
    content: $fa-calendar-minus-o; 
  }
}
.fa-calendar-o {
  &:before {
    content: $fa-calendar-o; 
  }
}
.fa-calendar-plus-o {
  &:before {
    content: $fa-calendar-plus-o; 
  }
}
.fa-calendar-times-o {
  &:before {
    content: $fa-calendar-times-o; 
  }
}
.fa-camera {
  &:before {
    content: $fa-camera; 
  }
}
.fa-camera-retro {
  &:before {
    content: $fa-camera-retro; 
  }
}
.fa-car {
  &:before {
    content: $fa-car; 
  }
}
.fa-caret-down {
  &:before {
    content: $fa-caret-down; 
  }
}
.fa-caret-left {
  &:before {
    content: $fa-caret-left; 
  }
}
.fa-caret-right {
  &:before {
    content: $fa-caret-right; 
  }
}
.fa-caret-square-o-down {
  &:before {
    content: $fa-caret-square-o-down; 
  }
}
.fa-caret-square-o-left {
  &:before {
    content: $fa-caret-square-o-left; 
  }
}
.fa-caret-square-o-right {
  &:before {
    content: $fa-caret-square-o-right; 
  }
}
.fa-caret-square-o-up {
  &:before {
    content: $fa-caret-square-o-up; 
  }
}
.fa-caret-up {
  &:before {
    content: $fa-caret-up; 
  }
}
.fa-cart-arrow-down {
  &:before {
    content: $fa-cart-arrow-down; 
  }
}
.fa-cart-plus {
  &:before {
    content: $fa-cart-plus; 
  }
}
.fa-cc {
  &:before {
    content: $fa-cc; 
  }
}
.fa-cc-amex {
  &:before {
    content: $fa-cc-amex; 
  }
}
.fa-cc-by {
  &:before {
    content: $fa-cc-by; 
  }
}
.fa-cc-cc {
  &:before {
    content: $fa-cc-cc; 
  }
}
.fa-cc-diners-club {
  &:before {
    content: $fa-cc-diners-club; 
  }
}
.fa-cc-discover {
  &:before {
    content: $fa-cc-discover; 
  }
}
.fa-cc-jcb {
  &:before {
    content: $fa-cc-jcb; 
  }
}
.fa-cc-mastercard {
  &:before {
    content: $fa-cc-mastercard; 
  }
}
.fa-cc-nc {
  &:before {
    content: $fa-cc-nc; 
  }
}
.fa-cc-nc-eu {
  &:before {
    content: $fa-cc-nc-eu; 
  }
}
.fa-cc-nc-jp {
  &:before {
    content: $fa-cc-nc-jp; 
  }
}
.fa-cc-nd {
  &:before {
    content: $fa-cc-nd; 
  }
}
.fa-cc-paypal {
  &:before {
    content: $fa-cc-paypal; 
  }
}
.fa-cc-pd {
  &:before {
    content: $fa-cc-pd; 
  }
}
.fa-cc-remix {
  &:before {
    content: $fa-cc-remix; 
  }
}
.fa-cc-sa {
  &:before {
    content: $fa-cc-sa; 
  }
}
.fa-cc-share {
  &:before {
    content: $fa-cc-share; 
  }
}
.fa-cc-stripe {
  &:before {
    content: $fa-cc-stripe; 
  }
}
.fa-cc-visa {
  &:before {
    content: $fa-cc-visa; 
  }
}
.fa-cc-zero {
  &:before {
    content: $fa-cc-zero; 
  }
}
.fa-certificate {
  &:before {
    content: $fa-certificate; 
  }
}
.fa-chain-broken {
  &:before {
    content: $fa-chain-broken; 
  }
}
.fa-check {
  &:before {
    content: $fa-check; 
  }
}
.fa-check-circle {
  &:before {
    content: $fa-check-circle; 
  }
}
.fa-check-circle-o {
  &:before {
    content: $fa-check-circle-o; 
  }
}
.fa-check-square {
  &:before {
    content: $fa-check-square; 
  }
}
.fa-check-square-o {
  &:before {
    content: $fa-check-square-o; 
  }
}
.fa-chevron-circle-down {
  &:before {
    content: $fa-chevron-circle-down; 
  }
}
.fa-chevron-circle-left {
  &:before {
    content: $fa-chevron-circle-left; 
  }
}
.fa-chevron-circle-right {
  &:before {
    content: $fa-chevron-circle-right; 
  }
}
.fa-chevron-circle-up {
  &:before {
    content: $fa-chevron-circle-up; 
  }
}
.fa-chevron-down {
  &:before {
    content: $fa-chevron-down; 
  }
}
.fa-chevron-left {
  &:before {
    content: $fa-chevron-left; 
  }
}
.fa-chevron-right {
  &:before {
    content: $fa-chevron-right; 
  }
}
.fa-chevron-up {
  &:before {
    content: $fa-chevron-up; 
  }
}
.fa-child {
  &:before {
    content: $fa-child; 
  }
}
.fa-chrome {
  &:before {
    content: $fa-chrome; 
  }
}
.fa-circle {
  &:before {
    content: $fa-circle; 
  }
}
.fa-circle-o {
  &:before {
    content: $fa-circle-o; 
  }
}
.fa-circle-o-notch {
  &:before {
    content: $fa-circle-o-notch; 
  }
}
.fa-circle-thin {
  &:before {
    content: $fa-circle-thin; 
  }
}
.fa-classicpress {
  &:before {
    content: $fa-classicpress; 
  }
}
.fa-classicpress-circle {
  &:before {
    content: $fa-classicpress-circle; 
  }
}
.fa-clipboard {
  &:before {
    content: $fa-clipboard; 
  }
}
.fa-clock-o {
  &:before {
    content: $fa-clock-o; 
  }
}
.fa-clone {
  &:before {
    content: $fa-clone; 
  }
}
.fa-cloud {
  &:before {
    content: $fa-cloud; 
  }
}
.fa-cloud-download {
  &:before {
    content: $fa-cloud-download; 
  }
}
.fa-cloud-upload {
  &:before {
    content: $fa-cloud-upload; 
  }
}
.fa-code {
  &:before {
    content: $fa-code; 
  }
}
.fa-code-fork {
  &:before {
    content: $fa-code-fork; 
  }
}
.fa-codepen {
  &:before {
    content: $fa-codepen; 
  }
}
.fa-codiepie {
  &:before {
    content: $fa-codiepie; 
  }
}
.fa-coffee {
  &:before {
    content: $fa-coffee; 
  }
}
.fa-cog {
  &:before {
    content: $fa-cog; 
  }
}
.fa-cogs {
  &:before {
    content: $fa-cogs; 
  }
}
.fa-columns {
  &:before {
    content: $fa-columns; 
  }
}
.fa-comment {
  &:before {
    content: $fa-comment; 
  }
}
.fa-commenting {
  &:before {
    content: $fa-commenting; 
  }
}
.fa-commenting-o {
  &:before {
    content: $fa-commenting-o; 
  }
}
.fa-comment-o {
  &:before {
    content: $fa-comment-o; 
  }
}
.fa-comments {
  &:before {
    content: $fa-comments; 
  }
}
.fa-comments-o {
  &:before {
    content: $fa-comments-o; 
  }
}
.fa-compass {
  &:before {
    content: $fa-compass; 
  }
}
.fa-compress {
  &:before {
    content: $fa-compress; 
  }
}
.fa-connectdevelop {
  &:before {
    content: $fa-connectdevelop; 
  }
}
.fa-contao {
  &:before {
    content: $fa-contao; 
  }
}
.fa-conway-glider {
  &:before {
    content: $fa-conway-glider; 
  }
}
.fa-copyright {
  &:before {
    content: $fa-copyright; 
  }
}
.fa-creative-commons {
  &:before {
    content: $fa-creative-commons; 
  }
}
.fa-credit-card {
  &:before {
    content: $fa-credit-card; 
  }
}
.fa-credit-card-alt {
  &:before {
    content: $fa-credit-card-alt; 
  }
}
.fa-crop {
  &:before {
    content: $fa-crop; 
  }
}
.fa-crosshairs {
  &:before {
    content: $fa-crosshairs; 
  }
}
.fa-csharp {
  &:before {
    content: $fa-csharp; 
  }
}
.fa-css3 {
  &:before {
    content: $fa-css3; 
  }
}
.fa-cube {
  &:before {
    content: $fa-cube; 
  }
}
.fa-cubes {
  &:before {
    content: $fa-cubes; 
  }
}
.fa-cutlery {
  &:before {
    content: $fa-cutlery; 
  }
}
.fa-dashcube {
  &:before {
    content: $fa-dashcube; 
  }
}
.fa-database {
  &:before {
    content: $fa-database; 
  }
}
.fa-deaf {
  &:before {
    content: $fa-deaf; 
  }
}
.fa-debian {
  &:before {
    content: $fa-debian; 
  }
}
.fa-delicious {
  &:before {
    content: $fa-delicious; 
  }
}
.fa-desktop {
  &:before {
    content: $fa-desktop; 
  }
}
.fa-deviantart {
  &:before {
    content: $fa-deviantart; 
  }
}
.fa-dev-to {
  &:before {
    content: $fa-dev-to; 
  }
}
.fa-diamond {
  &:before {
    content: $fa-diamond; 
  }
}
.fa-diaspora {
  &:before {
    content: $fa-diaspora; 
  }
}
.fa-digg {
  &:before {
    content: $fa-digg; 
  }
}
.fa-digitalocean {
  &:before {
    content: $fa-digitalocean; 
  }
}
.fa-discord {
  &:before {
    content: $fa-discord; 
  }
}
.fa-discord-alt {
  &:before {
    content: $fa-discord-alt; 
  }
}
.fa-dogmazic {
  &:before {
    content: $fa-dogmazic; 
  }
}
.fa-dot-circle-o {
  &:before {
    content: $fa-dot-circle-o; 
  }
}
.fa-download {
  &:before {
    content: $fa-download; 
  }
}
.fa-dribbble {
  &:before {
    content: $fa-dribbble; 
  }
}
.fa-dropbox {
  &:before {
    content: $fa-dropbox; 
  }
}
.fa-drupal {
  &:before {
    content: $fa-drupal; 
  }
}
.fa-edge {
  &:before {
    content: $fa-edge; 
  }
}
.fa-eercast {
  &:before {
    content: $fa-eercast; 
  }
}
.fa-eject {
  &:before {
    content: $fa-eject; 
  }
}
.fa-ellipsis-h {
  &:before {
    content: $fa-ellipsis-h; 
  }
}
.fa-ellipsis-v {
  &:before {
    content: $fa-ellipsis-v; 
  }
}
.fa-email-bulk {
  &:before {
    content: $fa-email-bulk; 
  }
}
.fa-email-bulk-o {
  &:before {
    content: $fa-email-bulk-o; 
  }
}
.fa-emby {
  &:before {
    content: $fa-emby; 
  }
}
.fa-empire {
  &:before {
    content: $fa-empire; 
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope; 
  }
}
.fa-envelope-o {
  &:before {
    content: $fa-envelope-o; 
  }
}
.fa-envelope-open {
  &:before {
    content: $fa-envelope-open; 
  }
}
.fa-envelope-open-o {
  &:before {
    content: $fa-envelope-open-o; 
  }
}
.fa-envelope-square {
  &:before {
    content: $fa-envelope-square; 
  }
}
.fa-envira {
  &:before {
    content: $fa-envira; 
  }
}
.fa-eraser {
  &:before {
    content: $fa-eraser; 
  }
}
.fa-ethereum {
  &:before {
    content: $fa-ethereum; 
  }
}
.fa-etsy {
  &:before {
    content: $fa-etsy; 
  }
}
.fa-eur {
  &:before {
    content: $fa-eur; 
  }
}
.fa-exchange {
  &:before {
    content: $fa-exchange; 
  }
}
.fa-exclamation {
  &:before {
    content: $fa-exclamation; 
  }
}
.fa-exclamation-circle {
  &:before {
    content: $fa-exclamation-circle; 
  }
}
.fa-exclamation-triangle {
  &:before {
    content: $fa-exclamation-triangle; 
  }
}
.fa-expand {
  &:before {
    content: $fa-expand; 
  }
}
.fa-expeditedssl {
  &:before {
    content: $fa-expeditedssl; 
  }
}
.fa-external-link {
  &:before {
    content: $fa-external-link; 
  }
}
.fa-external-link-square {
  &:before {
    content: $fa-external-link-square; 
  }
}
.fa-eye {
  &:before {
    content: $fa-eye; 
  }
}
.fa-eyedropper {
  &:before {
    content: $fa-eyedropper; 
  }
}
.fa-eye-slash {
  &:before {
    content: $fa-eye-slash; 
  }
}
.fa-facebook {
  &:before {
    content: $fa-facebook; 
  }
}
.fa-facebook-messenger {
  &:before {
    content: $fa-facebook-messenger; 
  }
}
.fa-facebook-official {
  &:before {
    content: $fa-facebook-official; 
  }
}
.fa-facebook-square {
  &:before {
    content: $fa-facebook-square; 
  }
}
.fa-fast-backward {
  &:before {
    content: $fa-fast-backward; 
  }
}
.fa-fast-forward {
  &:before {
    content: $fa-fast-forward; 
  }
}
.fa-fax {
  &:before {
    content: $fa-fax; 
  }
}
.fa-f-droid {
  &:before {
    content: $fa-f-droid; 
  }
}
.fa-female {
  &:before {
    content: $fa-female; 
  }
}
.fa-ffmpeg {
  &:before {
    content: $fa-ffmpeg; 
  }
}
.fa-fighter-jet {
  &:before {
    content: $fa-fighter-jet; 
  }
}
.fa-file {
  &:before {
    content: $fa-file; 
  }
}
.fa-file-archive-o {
  &:before {
    content: $fa-file-archive-o; 
  }
}
.fa-file-audio-o {
  &:before {
    content: $fa-file-audio-o; 
  }
}
.fa-file-code-o {
  &:before {
    content: $fa-file-code-o; 
  }
}
.fa-file-epub {
  &:before {
    content: $fa-file-epub; 
  }
}
.fa-file-excel-o {
  &:before {
    content: $fa-file-excel-o; 
  }
}
.fa-file-image-o {
  &:before {
    content: $fa-file-image-o; 
  }
}
.fa-file-o {
  &:before {
    content: $fa-file-o; 
  }
}
.fa-file-pdf-o {
  &:before {
    content: $fa-file-pdf-o; 
  }
}
.fa-file-powerpoint-o {
  &:before {
    content: $fa-file-powerpoint-o; 
  }
}
.fa-files-o {
  &:before {
    content: $fa-files-o; 
  }
}
.fa-file-text {
  &:before {
    content: $fa-file-text; 
  }
}
.fa-file-text-o {
  &:before {
    content: $fa-file-text-o; 
  }
}
.fa-file-video-o {
  &:before {
    content: $fa-file-video-o; 
  }
}
.fa-file-word-o {
  &:before {
    content: $fa-file-word-o; 
  }
}
.fa-film {
  &:before {
    content: $fa-film; 
  }
}
.fa-filter {
  &:before {
    content: $fa-filter; 
  }
}
.fa-fire {
  &:before {
    content: $fa-fire; 
  }
}
.fa-fire-extinguisher {
  &:before {
    content: $fa-fire-extinguisher; 
  }
}
.fa-firefox {
  &:before {
    content: $fa-firefox; 
  }
}
.fa-first-order {
  &:before {
    content: $fa-first-order; 
  }
}
.fa-flag {
  &:before {
    content: $fa-flag; 
  }
}
.fa-flag-checkered {
  &:before {
    content: $fa-flag-checkered; 
  }
}
.fa-flag-o {
  &:before {
    content: $fa-flag-o; 
  }
}
.fa-flask {
  &:before {
    content: $fa-flask; 
  }
}
.fa-flickr {
  &:before {
    content: $fa-flickr; 
  }
}
.fa-floppy-o {
  &:before {
    content: $fa-floppy-o; 
  }
}
.fa-folder {
  &:before {
    content: $fa-folder; 
  }
}
.fa-folder-o {
  &:before {
    content: $fa-folder-o; 
  }
}
.fa-folder-open {
  &:before {
    content: $fa-folder-open; 
  }
}
.fa-folder-open-o {
  &:before {
    content: $fa-folder-open-o; 
  }
}
.fa-font {
  &:before {
    content: $fa-font; 
  }
}
.fa-font-awesome {
  &:before {
    content: $fa-font-awesome; 
  }
}
.fa-fonticons {
  &:before {
    content: $fa-fonticons; 
  }
}
.fa-fork-awesome {
  &:before {
    content: $fa-fork-awesome; 
  }
}
.fa-fort-awesome {
  &:before {
    content: $fa-fort-awesome; 
  }
}
.fa-forumbee {
  &:before {
    content: $fa-forumbee; 
  }
}
.fa-forward {
  &:before {
    content: $fa-forward; 
  }
}
.fa-foursquare {
  &:before {
    content: $fa-foursquare; 
  }
}
.fa-free-code-camp {
  &:before {
    content: $fa-free-code-camp; 
  }
}
.fa-freedombox {
  &:before {
    content: $fa-freedombox; 
  }
}
.fa-friendica {
  &:before {
    content: $fa-friendica; 
  }
}
.fa-frown-o {
  &:before {
    content: $fa-frown-o; 
  }
}
.fa-funkwhale {
  &:before {
    content: $fa-funkwhale; 
  }
}
.fa-futbol-o {
  &:before {
    content: $fa-futbol-o; 
  }
}
.fa-gamepad {
  &:before {
    content: $fa-gamepad; 
  }
}
.fa-gavel {
  &:before {
    content: $fa-gavel; 
  }
}
.fa-gbp {
  &:before {
    content: $fa-gbp; 
  }
}
.fa-genderless {
  &:before {
    content: $fa-genderless; 
  }
}
.fa-get-pocket {
  &:before {
    content: $fa-get-pocket; 
  }
}
.fa-gg {
  &:before {
    content: $fa-gg; 
  }
}
.fa-gg-circle {
  &:before {
    content: $fa-gg-circle; 
  }
}
.fa-gift {
  &:before {
    content: $fa-gift; 
  }
}
.fa-gimp {
  &:before {
    content: $fa-gimp; 
  }
}
.fa-git {
  &:before {
    content: $fa-git; 
  }
}
.fa-gitea {
  &:before {
    content: $fa-gitea; 
  }
}
.fa-github {
  &:before {
    content: $fa-github; 
  }
}
.fa-github-alt {
  &:before {
    content: $fa-github-alt; 
  }
}
.fa-github-square {
  &:before {
    content: $fa-github-square; 
  }
}
.fa-gitlab {
  &:before {
    content: $fa-gitlab; 
  }
}
.fa-git-square {
  &:before {
    content: $fa-git-square; 
  }
}
.fa-glass {
  &:before {
    content: $fa-glass; 
  }
}
.fa-glide {
  &:before {
    content: $fa-glide; 
  }
}
.fa-glide-g {
  &:before {
    content: $fa-glide-g; 
  }
}
.fa-globe {
  &:before {
    content: $fa-globe; 
  }
}
.fa-globe-e {
  &:before {
    content: $fa-globe-e; 
  }
}
.fa-globe-w {
  &:before {
    content: $fa-globe-w; 
  }
}
.fa-gnu {
  &:before {
    content: $fa-gnu; 
  }
}
.fa-gnupg {
  &:before {
    content: $fa-gnupg; 
  }
}
.fa-gnu-social {
  &:before {
    content: $fa-gnu-social; 
  }
}
.fa-google {
  &:before {
    content: $fa-google; 
  }
}
.fa-google-play {
  &:before {
    content: $fa-google-play; 
  }
}
.fa-google-plus {
  &:before {
    content: $fa-google-plus; 
  }
}
.fa-google-plus-official {
  &:before {
    content: $fa-google-plus-official; 
  }
}
.fa-google-plus-square {
  &:before {
    content: $fa-google-plus-square; 
  }
}
.fa-google-wallet {
  &:before {
    content: $fa-google-wallet; 
  }
}
.fa-graduation-cap {
  &:before {
    content: $fa-graduation-cap; 
  }
}
.fa-gratipay {
  &:before {
    content: $fa-gratipay; 
  }
}
.fa-grav {
  &:before {
    content: $fa-grav; 
  }
}
.fa-hackaday {
  &:before {
    content: $fa-hackaday; 
  }
}
.fa-hacker-news {
  &:before {
    content: $fa-hacker-news; 
  }
}
.fa-hackster {
  &:before {
    content: $fa-hackster; 
  }
}
.fa-hal {
  &:before {
    content: $fa-hal; 
  }
}
.fa-hand-lizard-o {
  &:before {
    content: $fa-hand-lizard-o; 
  }
}
.fa-hand-o-down {
  &:before {
    content: $fa-hand-o-down; 
  }
}
.fa-hand-o-left {
  &:before {
    content: $fa-hand-o-left; 
  }
}
.fa-hand-o-right {
  &:before {
    content: $fa-hand-o-right; 
  }
}
.fa-hand-o-up {
  &:before {
    content: $fa-hand-o-up; 
  }
}
.fa-hand-paper-o {
  &:before {
    content: $fa-hand-paper-o; 
  }
}
.fa-hand-peace-o {
  &:before {
    content: $fa-hand-peace-o; 
  }
}
.fa-hand-pointer-o {
  &:before {
    content: $fa-hand-pointer-o; 
  }
}
.fa-hand-rock-o {
  &:before {
    content: $fa-hand-rock-o; 
  }
}
.fa-hand-scissors-o {
  &:before {
    content: $fa-hand-scissors-o; 
  }
}
.fa-handshake-o {
  &:before {
    content: $fa-handshake-o; 
  }
}
.fa-hand-spock-o {
  &:before {
    content: $fa-hand-spock-o; 
  }
}
.fa-hashnode {
  &:before {
    content: $fa-hashnode; 
  }
}
.fa-hashtag {
  &:before {
    content: $fa-hashtag; 
  }
}
.fa-hdd-o {
  &:before {
    content: $fa-hdd-o; 
  }
}
.fa-header {
  &:before {
    content: $fa-header; 
  }
}
.fa-headphones {
  &:before {
    content: $fa-headphones; 
  }
}
.fa-heart {
  &:before {
    content: $fa-heart; 
  }
}
.fa-heartbeat {
  &:before {
    content: $fa-heartbeat; 
  }
}
.fa-heart-o {
  &:before {
    content: $fa-heart-o; 
  }
}
.fa-heroku {
  &:before {
    content: $fa-heroku; 
  }
}
.fa-history {
  &:before {
    content: $fa-history; 
  }
}
.fa-home {
  &:before {
    content: $fa-home; 
  }
}
.fa-home-assistant {
  &:before {
    content: $fa-home-assistant; 
  }
}
.fa-hospital-o {
  &:before {
    content: $fa-hospital-o; 
  }
}
.fa-hourglass {
  &:before {
    content: $fa-hourglass; 
  }
}
.fa-hourglass-end {
  &:before {
    content: $fa-hourglass-end; 
  }
}
.fa-hourglass-half {
  &:before {
    content: $fa-hourglass-half; 
  }
}
.fa-hourglass-o {
  &:before {
    content: $fa-hourglass-o; 
  }
}
.fa-hourglass-start {
  &:before {
    content: $fa-hourglass-start; 
  }
}
.fa-houzz {
  &:before {
    content: $fa-houzz; 
  }
}
.fa-h-square {
  &:before {
    content: $fa-h-square; 
  }
}
.fa-html5 {
  &:before {
    content: $fa-html5; 
  }
}
.fa-hubzilla {
  &:before {
    content: $fa-hubzilla; 
  }
}
.fa-i-cursor {
  &:before {
    content: $fa-i-cursor; 
  }
}
.fa-id-badge {
  &:before {
    content: $fa-id-badge; 
  }
}
.fa-id-card {
  &:before {
    content: $fa-id-card; 
  }
}
.fa-id-card-o {
  &:before {
    content: $fa-id-card-o; 
  }
}
.fa-ils {
  &:before {
    content: $fa-ils; 
  }
}
.fa-imdb {
  &:before {
    content: $fa-imdb; 
  }
}
.fa-inbox {
  &:before {
    content: $fa-inbox; 
  }
}
.fa-indent {
  &:before {
    content: $fa-indent; 
  }
}
.fa-industry {
  &:before {
    content: $fa-industry; 
  }
}
.fa-info {
  &:before {
    content: $fa-info; 
  }
}
.fa-info-circle {
  &:before {
    content: $fa-info-circle; 
  }
}
.fa-inkscape {
  &:before {
    content: $fa-inkscape; 
  }
}
.fa-inr {
  &:before {
    content: $fa-inr; 
  }
}
.fa-instagram {
  &:before {
    content: $fa-instagram; 
  }
}
.fa-internet-explorer {
  &:before {
    content: $fa-internet-explorer; 
  }
}
.fa-ioxhost {
  &:before {
    content: $fa-ioxhost; 
  }
}
.fa-italic {
  &:before {
    content: $fa-italic; 
  }
}
.fa-java {
  &:before {
    content: $fa-java; 
  }
}
.fa-jirafeau {
  &:before {
    content: $fa-jirafeau; 
  }
}
.fa-joomla {
  &:before {
    content: $fa-joomla; 
  }
}
.fa-joplin {
  &:before {
    content: $fa-joplin; 
  }
}
.fa-jpy {
  &:before {
    content: $fa-jpy; 
  }
}
.fa-jsfiddle {
  &:before {
    content: $fa-jsfiddle; 
  }
}
.fa-julia {
  &:before {
    content: $fa-julia; 
  }
}
.fa-jupyter {
  &:before {
    content: $fa-jupyter; 
  }
}
.fa-key {
  &:before {
    content: $fa-key; 
  }
}
.fa-keybase {
  &:before {
    content: $fa-keybase; 
  }
}
.fa-keyboard-o {
  &:before {
    content: $fa-keyboard-o; 
  }
}
.fa-key-modern {
  &:before {
    content: $fa-key-modern; 
  }
}
.fa-krw {
  &:before {
    content: $fa-krw; 
  }
}
.fa-language {
  &:before {
    content: $fa-language; 
  }
}
.fa-laptop {
  &:before {
    content: $fa-laptop; 
  }
}
.fa-laravel {
  &:before {
    content: $fa-laravel; 
  }
}
.fa-lastfm {
  &:before {
    content: $fa-lastfm; 
  }
}
.fa-lastfm-square {
  &:before {
    content: $fa-lastfm-square; 
  }
}
.fa-leaf {
  &:before {
    content: $fa-leaf; 
  }
}
.fa-leanpub {
  &:before {
    content: $fa-leanpub; 
  }
}
.fa-lemon-o {
  &:before {
    content: $fa-lemon-o; 
  }
}
.fa-level-down {
  &:before {
    content: $fa-level-down; 
  }
}
.fa-level-up {
  &:before {
    content: $fa-level-up; 
  }
}
.fa-liberapay {
  &:before {
    content: $fa-liberapay; 
  }
}
.fa-liberapay-square {
  &:before {
    content: $fa-liberapay-square; 
  }
}
.fa-life-ring {
  &:before {
    content: $fa-life-ring; 
  }
}
.fa-lightbulb-o {
  &:before {
    content: $fa-lightbulb-o; 
  }
}
.fa-line-chart {
  &:before {
    content: $fa-line-chart; 
  }
}
.fa-link {
  &:before {
    content: $fa-link; 
  }
}
.fa-linkedin {
  &:before {
    content: $fa-linkedin; 
  }
}
.fa-linkedin-square {
  &:before {
    content: $fa-linkedin-square; 
  }
}
.fa-linode {
  &:before {
    content: $fa-linode; 
  }
}
.fa-linux {
  &:before {
    content: $fa-linux; 
  }
}
.fa-list {
  &:before {
    content: $fa-list; 
  }
}
.fa-list-alt {
  &:before {
    content: $fa-list-alt; 
  }
}
.fa-list-ol {
  &:before {
    content: $fa-list-ol; 
  }
}
.fa-list-ul {
  &:before {
    content: $fa-list-ul; 
  }
}
.fa-location-arrow {
  &:before {
    content: $fa-location-arrow; 
  }
}
.fa-lock {
  &:before {
    content: $fa-lock; 
  }
}
.fa-long-arrow-down {
  &:before {
    content: $fa-long-arrow-down; 
  }
}
.fa-long-arrow-left {
  &:before {
    content: $fa-long-arrow-left; 
  }
}
.fa-long-arrow-right {
  &:before {
    content: $fa-long-arrow-right; 
  }
}
.fa-long-arrow-up {
  &:before {
    content: $fa-long-arrow-up; 
  }
}
.fa-low-vision {
  &:before {
    content: $fa-low-vision; 
  }
}
.fa-magic {
  &:before {
    content: $fa-magic; 
  }
}
.fa-magnet {
  &:before {
    content: $fa-magnet; 
  }
}
.fa-male {
  &:before {
    content: $fa-male; 
  }
}
.fa-map {
  &:before {
    content: $fa-map; 
  }
}
.fa-map-marker {
  &:before {
    content: $fa-map-marker; 
  }
}
.fa-map-o {
  &:before {
    content: $fa-map-o; 
  }
}
.fa-map-pin {
  &:before {
    content: $fa-map-pin; 
  }
}
.fa-map-signs {
  &:before {
    content: $fa-map-signs; 
  }
}
.fa-mariadb {
  &:before {
    content: $fa-mariadb; 
  }
}
.fa-markdown {
  &:before {
    content: $fa-markdown; 
  }
}
.fa-mars {
  &:before {
    content: $fa-mars; 
  }
}
.fa-mars-double {
  &:before {
    content: $fa-mars-double; 
  }
}
.fa-mars-stroke {
  &:before {
    content: $fa-mars-stroke; 
  }
}
.fa-mars-stroke-h {
  &:before {
    content: $fa-mars-stroke-h; 
  }
}
.fa-mars-stroke-v {
  &:before {
    content: $fa-mars-stroke-v; 
  }
}
.fa-mastodon {
  &:before {
    content: $fa-mastodon; 
  }
}
.fa-mastodon-alt {
  &:before {
    content: $fa-mastodon-alt; 
  }
}
.fa-mastodon-square {
  &:before {
    content: $fa-mastodon-square; 
  }
}
.fa-matrix-org {
  &:before {
    content: $fa-matrix-org; 
  }
}
.fa-maxcdn {
  &:before {
    content: $fa-maxcdn; 
  }
}
.fa-meanpath {
  &:before {
    content: $fa-meanpath; 
  }
}
.fa-medium {
  &:before {
    content: $fa-medium; 
  }
}
.fa-medium-square {
  &:before {
    content: $fa-medium-square; 
  }
}
.fa-medkit {
  &:before {
    content: $fa-medkit; 
  }
}
.fa-meetup {
  &:before {
    content: $fa-meetup; 
  }
}
.fa-meh-o {
  &:before {
    content: $fa-meh-o; 
  }
}
.fa-mercury {
  &:before {
    content: $fa-mercury; 
  }
}
.fa-microchip {
  &:before {
    content: $fa-microchip; 
  }
}
.fa-microphone {
  &:before {
    content: $fa-microphone; 
  }
}
.fa-microphone-slash {
  &:before {
    content: $fa-microphone-slash; 
  }
}
.fa-minus {
  &:before {
    content: $fa-minus; 
  }
}
.fa-minus-circle {
  &:before {
    content: $fa-minus-circle; 
  }
}
.fa-minus-square {
  &:before {
    content: $fa-minus-square; 
  }
}
.fa-minus-square-o {
  &:before {
    content: $fa-minus-square-o; 
  }
}
.fa-mixcloud {
  &:before {
    content: $fa-mixcloud; 
  }
}
.fa-mobile {
  &:before {
    content: $fa-mobile; 
  }
}
.fa-modx {
  &:before {
    content: $fa-modx; 
  }
}
.fa-money {
  &:before {
    content: $fa-money; 
  }
}
.fa-moon {
  &:before {
    content: $fa-moon; 
  }
}
.fa-moon-o {
  &:before {
    content: $fa-moon-o; 
  }
}
.fa-motorcycle {
  &:before {
    content: $fa-motorcycle; 
  }
}
.fa-mouse-pointer {
  &:before {
    content: $fa-mouse-pointer; 
  }
}
.fa-music {
  &:before {
    content: $fa-music; 
  }
}
.fa-mysql {
  &:before {
    content: $fa-mysql; 
  }
}
.fa-neuter {
  &:before {
    content: $fa-neuter; 
  }
}
.fa-newspaper-o {
  &:before {
    content: $fa-newspaper-o; 
  }
}
.fa-nextcloud {
  &:before {
    content: $fa-nextcloud; 
  }
}
.fa-nextcloud-square {
  &:before {
    content: $fa-nextcloud-square; 
  }
}
.fa-nodejs {
  &:before {
    content: $fa-nodejs; 
  }
}
.fa-nordcast {
  &:before {
    content: $fa-nordcast; 
  }
}
.fa-object-group {
  &:before {
    content: $fa-object-group; 
  }
}
.fa-object-ungroup {
  &:before {
    content: $fa-object-ungroup; 
  }
}
.fa-odnoklassniki {
  &:before {
    content: $fa-odnoklassniki; 
  }
}
.fa-odnoklassniki-square {
  &:before {
    content: $fa-odnoklassniki-square; 
  }
}
.fa-opencart {
  &:before {
    content: $fa-opencart; 
  }
}
.fa-open-collective {
  &:before {
    content: $fa-open-collective; 
  }
}
.fa-openid {
  &:before {
    content: $fa-openid; 
  }
}
.fa-opera {
  &:before {
    content: $fa-opera; 
  }
}
.fa-optin-monster {
  &:before {
    content: $fa-optin-monster; 
  }
}
.fa-orcid {
  &:before {
    content: $fa-orcid; 
  }
}
.fa-outdent {
  &:before {
    content: $fa-outdent; 
  }
}
.fa-pagelines {
  &:before {
    content: $fa-pagelines; 
  }
}
.fa-paint-brush {
  &:before {
    content: $fa-paint-brush; 
  }
}
.fa-paperclip {
  &:before {
    content: $fa-paperclip; 
  }
}
.fa-paper-plane {
  &:before {
    content: $fa-paper-plane; 
  }
}
.fa-paper-plane-o {
  &:before {
    content: $fa-paper-plane-o; 
  }
}
.fa-paragraph {
  &:before {
    content: $fa-paragraph; 
  }
}
.fa-patreon {
  &:before {
    content: $fa-patreon; 
  }
}
.fa-pause {
  &:before {
    content: $fa-pause; 
  }
}
.fa-pause-circle {
  &:before {
    content: $fa-pause-circle; 
  }
}
.fa-pause-circle-o {
  &:before {
    content: $fa-pause-circle-o; 
  }
}
.fa-paw {
  &:before {
    content: $fa-paw; 
  }
}
.fa-paypal {
  &:before {
    content: $fa-paypal; 
  }
}
.fa-peertube {
  &:before {
    content: $fa-peertube; 
  }
}
.fa-pencil {
  &:before {
    content: $fa-pencil; 
  }
}
.fa-pencil-square {
  &:before {
    content: $fa-pencil-square; 
  }
}
.fa-pencil-square-o {
  &:before {
    content: $fa-pencil-square-o; 
  }
}
.fa-percent {
  &:before {
    content: $fa-percent; 
  }
}
.fa-phone {
  &:before {
    content: $fa-phone; 
  }
}
.fa-phone-square {
  &:before {
    content: $fa-phone-square; 
  }
}
.fa-php {
  &:before {
    content: $fa-php; 
  }
}
.fa-picture-o {
  &:before {
    content: $fa-picture-o; 
  }
}
.fa-pie-chart {
  &:before {
    content: $fa-pie-chart; 
  }
}
.fa-pinterest {
  &:before {
    content: $fa-pinterest; 
  }
}
.fa-pinterest-p {
  &:before {
    content: $fa-pinterest-p; 
  }
}
.fa-pinterest-square {
  &:before {
    content: $fa-pinterest-square; 
  }
}
.fa-pixelfed {
  &:before {
    content: $fa-pixelfed; 
  }
}
.fa-plane {
  &:before {
    content: $fa-plane; 
  }
}
.fa-play {
  &:before {
    content: $fa-play; 
  }
}
.fa-play-circle {
  &:before {
    content: $fa-play-circle; 
  }
}
.fa-play-circle-o {
  &:before {
    content: $fa-play-circle-o; 
  }
}
.fa-pleroma {
  &:before {
    content: $fa-pleroma; 
  }
}
.fa-plug {
  &:before {
    content: $fa-plug; 
  }
}
.fa-plume {
  &:before {
    content: $fa-plume; 
  }
}
.fa-plus {
  &:before {
    content: $fa-plus; 
  }
}
.fa-plus-circle {
  &:before {
    content: $fa-plus-circle; 
  }
}
.fa-plus-square {
  &:before {
    content: $fa-plus-square; 
  }
}
.fa-plus-square-o {
  &:before {
    content: $fa-plus-square-o; 
  }
}
.fa-podcast {
  &:before {
    content: $fa-podcast; 
  }
}
.fa-postgresql {
  &:before {
    content: $fa-postgresql; 
  }
}
.fa-power-off {
  &:before {
    content: $fa-power-off; 
  }
}
.fa-print {
  &:before {
    content: $fa-print; 
  }
}
.fa-product-hunt {
  &:before {
    content: $fa-product-hunt; 
  }
}
.fa-puzzle-piece {
  &:before {
    content: $fa-puzzle-piece; 
  }
}
.fa-python {
  &:before {
    content: $fa-python; 
  }
}
.fa-qq {
  &:before {
    content: $fa-qq; 
  }
}
.fa-qrcode {
  &:before {
    content: $fa-qrcode; 
  }
}
.fa-question {
  &:before {
    content: $fa-question; 
  }
}
.fa-question-circle {
  &:before {
    content: $fa-question-circle; 
  }
}
.fa-question-circle-o {
  &:before {
    content: $fa-question-circle-o; 
  }
}
.fa-quora {
  &:before {
    content: $fa-quora; 
  }
}
.fa-quote-left {
  &:before {
    content: $fa-quote-left; 
  }
}
.fa-quote-right {
  &:before {
    content: $fa-quote-right; 
  }
}
.fa-random {
  &:before {
    content: $fa-random; 
  }
}
.fa-ravelry {
  &:before {
    content: $fa-ravelry; 
  }
}
.fa-react {
  &:before {
    content: $fa-react; 
  }
}
.fa-rebel {
  &:before {
    content: $fa-rebel; 
  }
}
.fa-recycle {
  &:before {
    content: $fa-recycle; 
  }
}
.fa-reddit {
  &:before {
    content: $fa-reddit; 
  }
}
.fa-reddit-alien {
  &:before {
    content: $fa-reddit-alien; 
  }
}
.fa-reddit-square {
  &:before {
    content: $fa-reddit-square; 
  }
}
.fa-refresh {
  &:before {
    content: $fa-refresh; 
  }
}
.fa-registered {
  &:before {
    content: $fa-registered; 
  }
}
.fa-renren {
  &:before {
    content: $fa-renren; 
  }
}
.fa-repeat {
  &:before {
    content: $fa-repeat; 
  }
}
.fa-reply {
  &:before {
    content: $fa-reply; 
  }
}
.fa-reply-all {
  &:before {
    content: $fa-reply-all; 
  }
}
.fa-researchgate {
  &:before {
    content: $fa-researchgate; 
  }
}
.fa-retweet {
  &:before {
    content: $fa-retweet; 
  }
}
.fa-road {
  &:before {
    content: $fa-road; 
  }
}
.fa-rocket {
  &:before {
    content: $fa-rocket; 
  }
}
.fa-rss {
  &:before {
    content: $fa-rss; 
  }
}
.fa-rss-square {
  &:before {
    content: $fa-rss-square; 
  }
}
.fa-rub {
  &:before {
    content: $fa-rub; 
  }
}
.fa-safari {
  &:before {
    content: $fa-safari; 
  }
}
.fa-sass {
  &:before {
    content: $fa-sass; 
  }
}
.fa-sass-alt {
  &:before {
    content: $fa-sass-alt; 
  }
}
.fa-scissors {
  &:before {
    content: $fa-scissors; 
  }
}
.fa-scribd {
  &:before {
    content: $fa-scribd; 
  }
}
.fa-scuttlebutt {
  &:before {
    content: $fa-scuttlebutt; 
  }
}
.fa-search {
  &:before {
    content: $fa-search; 
  }
}
.fa-search-minus {
  &:before {
    content: $fa-search-minus; 
  }
}
.fa-search-plus {
  &:before {
    content: $fa-search-plus; 
  }
}
.fa-sellsy {
  &:before {
    content: $fa-sellsy; 
  }
}
.fa-server {
  &:before {
    content: $fa-server; 
  }
}
.fa-shaarli {
  &:before {
    content: $fa-shaarli; 
  }
}
.fa-shaarli-o {
  &:before {
    content: $fa-shaarli-o; 
  }
}
.fa-share {
  &:before {
    content: $fa-share; 
  }
}
.fa-share-alt {
  &:before {
    content: $fa-share-alt; 
  }
}
.fa-share-alt-square {
  &:before {
    content: $fa-share-alt-square; 
  }
}
.fa-share-square {
  &:before {
    content: $fa-share-square; 
  }
}
.fa-share-square-o {
  &:before {
    content: $fa-share-square-o; 
  }
}
.fa-shield {
  &:before {
    content: $fa-shield; 
  }
}
.fa-ship {
  &:before {
    content: $fa-ship; 
  }
}
.fa-shirtsinbulk {
  &:before {
    content: $fa-shirtsinbulk; 
  }
}
.fa-shopping-bag {
  &:before {
    content: $fa-shopping-bag; 
  }
}
.fa-shopping-basket {
  &:before {
    content: $fa-shopping-basket; 
  }
}
.fa-shopping-cart {
  &:before {
    content: $fa-shopping-cart; 
  }
}
.fa-shower {
  &:before {
    content: $fa-shower; 
  }
}
.fa-signal {
  &:before {
    content: $fa-signal; 
  }
}
.fa-signalapp {
  &:before {
    content: $fa-signalapp; 
  }
}
.fa-sign-in {
  &:before {
    content: $fa-sign-in; 
  }
}
.fa-sign-language {
  &:before {
    content: $fa-sign-language; 
  }
}
.fa-sign-out {
  &:before {
    content: $fa-sign-out; 
  }
}
.fa-simplybuilt {
  &:before {
    content: $fa-simplybuilt; 
  }
}
.fa-sitemap {
  &:before {
    content: $fa-sitemap; 
  }
}
.fa-skate {
  &:before {
    content: $fa-skate; 
  }
}
.fa-sketchfab {
  &:before {
    content: $fa-sketchfab; 
  }
}
.fa-skyatlas {
  &:before {
    content: $fa-skyatlas; 
  }
}
.fa-skype {
  &:before {
    content: $fa-skype; 
  }
}
.fa-slack {
  &:before {
    content: $fa-slack; 
  }
}
.fa-sliders {
  &:before {
    content: $fa-sliders; 
  }
}
.fa-slideshare {
  &:before {
    content: $fa-slideshare; 
  }
}
.fa-smile-o {
  &:before {
    content: $fa-smile-o; 
  }
}
.fa-snapchat {
  &:before {
    content: $fa-snapchat; 
  }
}
.fa-snapchat-ghost {
  &:before {
    content: $fa-snapchat-ghost; 
  }
}
.fa-snapchat-square {
  &:before {
    content: $fa-snapchat-square; 
  }
}
.fa-snowdrift {
  &:before {
    content: $fa-snowdrift; 
  }
}
.fa-snowflake-o {
  &:before {
    content: $fa-snowflake-o; 
  }
}
.fa-social-home {
  &:before {
    content: $fa-social-home; 
  }
}
.fa-sort {
  &:before {
    content: $fa-sort; 
  }
}
.fa-sort-alpha-asc {
  &:before {
    content: $fa-sort-alpha-asc; 
  }
}
.fa-sort-alpha-desc {
  &:before {
    content: $fa-sort-alpha-desc; 
  }
}
.fa-sort-amount-asc {
  &:before {
    content: $fa-sort-amount-asc; 
  }
}
.fa-sort-amount-desc {
  &:before {
    content: $fa-sort-amount-desc; 
  }
}
.fa-sort-asc {
  &:before {
    content: $fa-sort-asc; 
  }
}
.fa-sort-desc {
  &:before {
    content: $fa-sort-desc; 
  }
}
.fa-sort-numeric-asc {
  &:before {
    content: $fa-sort-numeric-asc; 
  }
}
.fa-sort-numeric-desc {
  &:before {
    content: $fa-sort-numeric-desc; 
  }
}
.fa-soundcloud {
  &:before {
    content: $fa-soundcloud; 
  }
}
.fa-space-shuttle {
  &:before {
    content: $fa-space-shuttle; 
  }
}
.fa-spell-check {
  &:before {
    content: $fa-spell-check; 
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner; 
  }
}
.fa-spoon {
  &:before {
    content: $fa-spoon; 
  }
}
.fa-spotify {
  &:before {
    content: $fa-spotify; 
  }
}
.fa-square {
  &:before {
    content: $fa-square; 
  }
}
.fa-square-o {
  &:before {
    content: $fa-square-o; 
  }
}
.fa-stack-exchange {
  &:before {
    content: $fa-stack-exchange; 
  }
}
.fa-stack-overflow {
  &:before {
    content: $fa-stack-overflow; 
  }
}
.fa-star {
  &:before {
    content: $fa-star; 
  }
}
.fa-star-half {
  &:before {
    content: $fa-star-half; 
  }
}
.fa-star-half-o {
  &:before {
    content: $fa-star-half-o; 
  }
}
.fa-star-o {
  &:before {
    content: $fa-star-o; 
  }
}
.fa-steam {
  &:before {
    content: $fa-steam; 
  }
}
.fa-steam-square {
  &:before {
    content: $fa-steam-square; 
  }
}
.fa-step-backward {
  &:before {
    content: $fa-step-backward; 
  }
}
.fa-step-forward {
  &:before {
    content: $fa-step-forward; 
  }
}
.fa-stethoscope {
  &:before {
    content: $fa-stethoscope; 
  }
}
.fa-sticky-note {
  &:before {
    content: $fa-sticky-note; 
  }
}
.fa-sticky-note-o {
  &:before {
    content: $fa-sticky-note-o; 
  }
}
.fa-stop {
  &:before {
    content: $fa-stop; 
  }
}
.fa-stop-circle {
  &:before {
    content: $fa-stop-circle; 
  }
}
.fa-stop-circle-o {
  &:before {
    content: $fa-stop-circle-o; 
  }
}
.fa-street-view {
  &:before {
    content: $fa-street-view; 
  }
}
.fa-strikethrough {
  &:before {
    content: $fa-strikethrough; 
  }
}
.fa-stumbleupon {
  &:before {
    content: $fa-stumbleupon; 
  }
}
.fa-stumbleupon-circle {
  &:before {
    content: $fa-stumbleupon-circle; 
  }
}
.fa-subscript {
  &:before {
    content: $fa-subscript; 
  }
}
.fa-subway {
  &:before {
    content: $fa-subway; 
  }
}
.fa-suitcase {
  &:before {
    content: $fa-suitcase; 
  }
}
.fa-sun {
  &:before {
    content: $fa-sun; 
  }
}
.fa-sun-o {
  &:before {
    content: $fa-sun-o; 
  }
}
.fa-superpowers {
  &:before {
    content: $fa-superpowers; 
  }
}
.fa-superscript {
  &:before {
    content: $fa-superscript; 
  }
}
.fa-syncthing {
  &:before {
    content: $fa-syncthing; 
  }
}
.fa-table {
  &:before {
    content: $fa-table; 
  }
}
.fa-tablet {
  &:before {
    content: $fa-tablet; 
  }
}
.fa-tachometer {
  &:before {
    content: $fa-tachometer; 
  }
}
.fa-tag {
  &:before {
    content: $fa-tag; 
  }
}
.fa-tags {
  &:before {
    content: $fa-tags; 
  }
}
.fa-tasks {
  &:before {
    content: $fa-tasks; 
  }
}
.fa-taxi {
  &:before {
    content: $fa-taxi; 
  }
}
.fa-telegram {
  &:before {
    content: $fa-telegram; 
  }
}
.fa-television {
  &:before {
    content: $fa-television; 
  }
}
.fa-tencent-weibo {
  &:before {
    content: $fa-tencent-weibo; 
  }
}
.fa-terminal {
  &:before {
    content: $fa-terminal; 
  }
}
.fa-tex {
  &:before {
    content: $fa-tex; 
  }
}
.fa-text-height {
  &:before {
    content: $fa-text-height; 
  }
}
.fa-textpattern {
  &:before {
    content: $fa-textpattern; 
  }
}
.fa-text-width {
  &:before {
    content: $fa-text-width; 
  }
}
.fa-th {
  &:before {
    content: $fa-th; 
  }
}
.fa-themeisle {
  &:before {
    content: $fa-themeisle; 
  }
}
.fa-thermometer-empty {
  &:before {
    content: $fa-thermometer-empty; 
  }
}
.fa-thermometer-full {
  &:before {
    content: $fa-thermometer-full; 
  }
}
.fa-thermometer-half {
  &:before {
    content: $fa-thermometer-half; 
  }
}
.fa-thermometer-quarter {
  &:before {
    content: $fa-thermometer-quarter; 
  }
}
.fa-thermometer-three-quarters {
  &:before {
    content: $fa-thermometer-three-quarters; 
  }
}
.fa-th-large {
  &:before {
    content: $fa-th-large; 
  }
}
.fa-th-list {
  &:before {
    content: $fa-th-list; 
  }
}
.fa-thumbs-down {
  &:before {
    content: $fa-thumbs-down; 
  }
}
.fa-thumbs-o-down {
  &:before {
    content: $fa-thumbs-o-down; 
  }
}
.fa-thumbs-o-up {
  &:before {
    content: $fa-thumbs-o-up; 
  }
}
.fa-thumbs-up {
  &:before {
    content: $fa-thumbs-up; 
  }
}
.fa-thumb-tack {
  &:before {
    content: $fa-thumb-tack; 
  }
}
.fa-ticket {
  &:before {
    content: $fa-ticket; 
  }
}
.fa-times {
  &:before {
    content: $fa-times; 
  }
}
.fa-times-circle {
  &:before {
    content: $fa-times-circle; 
  }
}
.fa-times-circle-o {
  &:before {
    content: $fa-times-circle-o; 
  }
}
.fa-tint {
  &:before {
    content: $fa-tint; 
  }
}
.fa-tipeee {
  &:before {
    content: $fa-tipeee; 
  }
}
.fa-toggle-off {
  &:before {
    content: $fa-toggle-off; 
  }
}
.fa-toggle-on {
  &:before {
    content: $fa-toggle-on; 
  }
}
.fa-tor-onion {
  &:before {
    content: $fa-tor-onion; 
  }
}
.fa-trademark {
  &:before {
    content: $fa-trademark; 
  }
}
.fa-train {
  &:before {
    content: $fa-train; 
  }
}
.fa-transgender {
  &:before {
    content: $fa-transgender; 
  }
}
.fa-transgender-alt {
  &:before {
    content: $fa-transgender-alt; 
  }
}
.fa-trash {
  &:before {
    content: $fa-trash; 
  }
}
.fa-trash-o {
  &:before {
    content: $fa-trash-o; 
  }
}
.fa-tree {
  &:before {
    content: $fa-tree; 
  }
}
.fa-trello {
  &:before {
    content: $fa-trello; 
  }
}
.fa-tripadvisor {
  &:before {
    content: $fa-tripadvisor; 
  }
}
.fa-trophy {
  &:before {
    content: $fa-trophy; 
  }
}
.fa-truck {
  &:before {
    content: $fa-truck; 
  }
}
.fa-try {
  &:before {
    content: $fa-try; 
  }
}
.fa-tty {
  &:before {
    content: $fa-tty; 
  }
}
.fa-tumblr {
  &:before {
    content: $fa-tumblr; 
  }
}
.fa-tumblr-square {
  &:before {
    content: $fa-tumblr-square; 
  }
}
.fa-twitch {
  &:before {
    content: $fa-twitch; 
  }
}
.fa-twitter {
  &:before {
    content: $fa-twitter; 
  }
}
.fa-twitter-square {
  &:before {
    content: $fa-twitter-square; 
  }
}
.fa-umbrella {
  &:before {
    content: $fa-umbrella; 
  }
}
.fa-underline {
  &:before {
    content: $fa-underline; 
  }
}
.fa-undo {
  &:before {
    content: $fa-undo; 
  }
}
.fa-unity {
  &:before {
    content: $fa-unity; 
  }
}
.fa-universal-access {
  &:before {
    content: $fa-universal-access; 
  }
}
.fa-university {
  &:before {
    content: $fa-university; 
  }
}
.fa-unlock {
  &:before {
    content: $fa-unlock; 
  }
}
.fa-unlock-alt {
  &:before {
    content: $fa-unlock-alt; 
  }
}
.fa-unslpash {
  &:before {
    content: $fa-unslpash; 
  }
}
.fa-upload {
  &:before {
    content: $fa-upload; 
  }
}
.fa-usb {
  &:before {
    content: $fa-usb; 
  }
}
.fa-usd {
  &:before {
    content: $fa-usd; 
  }
}
.fa-user {
  &:before {
    content: $fa-user; 
  }
}
.fa-user-circle {
  &:before {
    content: $fa-user-circle; 
  }
}
.fa-user-circle-o {
  &:before {
    content: $fa-user-circle-o; 
  }
}
.fa-user-md {
  &:before {
    content: $fa-user-md; 
  }
}
.fa-user-o {
  &:before {
    content: $fa-user-o; 
  }
}
.fa-user-plus {
  &:before {
    content: $fa-user-plus; 
  }
}
.fa-users {
  &:before {
    content: $fa-users; 
  }
}
.fa-user-secret {
  &:before {
    content: $fa-user-secret; 
  }
}
.fa-user-times {
  &:before {
    content: $fa-user-times; 
  }
}
.fa-venus {
  &:before {
    content: $fa-venus; 
  }
}
.fa-venus-double {
  &:before {
    content: $fa-venus-double; 
  }
}
.fa-venus-mars {
  &:before {
    content: $fa-venus-mars; 
  }
}
.fa-viacoin {
  &:before {
    content: $fa-viacoin; 
  }
}
.fa-viadeo {
  &:before {
    content: $fa-viadeo; 
  }
}
.fa-viadeo-square {
  &:before {
    content: $fa-viadeo-square; 
  }
}
.fa-video-camera {
  &:before {
    content: $fa-video-camera; 
  }
}
.fa-vimeo {
  &:before {
    content: $fa-vimeo; 
  }
}
.fa-vimeo-square {
  &:before {
    content: $fa-vimeo-square; 
  }
}
.fa-vine {
  &:before {
    content: $fa-vine; 
  }
}
.fa-vk {
  &:before {
    content: $fa-vk; 
  }
}
.fa-volume-control-phone {
  &:before {
    content: $fa-volume-control-phone; 
  }
}
.fa-volume-down {
  &:before {
    content: $fa-volume-down; 
  }
}
.fa-volume-mute {
  &:before {
    content: $fa-volume-mute; 
  }
}
.fa-volume-off {
  &:before {
    content: $fa-volume-off; 
  }
}
.fa-volume-up {
  &:before {
    content: $fa-volume-up; 
  }
}
.fa-weibo {
  &:before {
    content: $fa-weibo; 
  }
}
.fa-weixin {
  &:before {
    content: $fa-weixin; 
  }
}
.fa-whatsapp {
  &:before {
    content: $fa-whatsapp; 
  }
}
.fa-wheelchair {
  &:before {
    content: $fa-wheelchair; 
  }
}
.fa-wheelchair-alt {
  &:before {
    content: $fa-wheelchair-alt; 
  }
}
.fa-wifi {
  &:before {
    content: $fa-wifi; 
  }
}
.fa-wikidata {
  &:before {
    content: $fa-wikidata; 
  }
}
.fa-wikipedia-w {
  &:before {
    content: $fa-wikipedia-w; 
  }
}
.fa-window-close {
  &:before {
    content: $fa-window-close; 
  }
}
.fa-window-close-o {
  &:before {
    content: $fa-window-close-o; 
  }
}
.fa-window-maximize {
  &:before {
    content: $fa-window-maximize; 
  }
}
.fa-window-minimize {
  &:before {
    content: $fa-window-minimize; 
  }
}
.fa-window-restore {
  &:before {
    content: $fa-window-restore; 
  }
}
.fa-windows {
  &:before {
    content: $fa-windows; 
  }
}
.fa-wire {
  &:before {
    content: $fa-wire; 
  }
}
.fa-wordpress {
  &:before {
    content: $fa-wordpress; 
  }
}
.fa-wpbeginner {
  &:before {
    content: $fa-wpbeginner; 
  }
}
.fa-wpexplorer {
  &:before {
    content: $fa-wpexplorer; 
  }
}
.fa-wpforms {
  &:before {
    content: $fa-wpforms; 
  }
}
.fa-wrench {
  &:before {
    content: $fa-wrench; 
  }
}
.fa-xing {
  &:before {
    content: $fa-xing; 
  }
}
.fa-xing-square {
  &:before {
    content: $fa-xing-square; 
  }
}
.fa-xmpp {
  &:before {
    content: $fa-xmpp; 
  }
}
.fa-yahoo {
  &:before {
    content: $fa-yahoo; 
  }
}
.fa-y-combinator {
  &:before {
    content: $fa-y-combinator; 
  }
}
.fa-yelp {
  &:before {
    content: $fa-yelp; 
  }
}
.fa-yoast {
  &:before {
    content: $fa-yoast; 
  }
}
.fa-youtube {
  &:before {
    content: $fa-youtube; 
  }
}
.fa-youtube-play {
  &:before {
    content: $fa-youtube-play; 
  }
}
.fa-youtube-square {
  &:before {
    content: $fa-youtube-square; 
  }
}
.fa-zotero {
  &:before {
    content: $fa-zotero; 
  }
}

