@font-face {
  font-family: 'forkawesome';
  src:
    url('fonts/forkawesome.woff2?7g4b6') format('woff2'),
    url('fonts/forkawesome.ttf?7g4b6') format('truetype'),
    url('fonts/forkawesome.woff?7g4b6') format('woff'),
    url('fonts/forkawesome.svg?7g4b6#forkawesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'forkawesome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-px:before {
  content: "\e900";
}
.fa-activitypub:before {
  content: "\e901";
}
.fa-address-book:before {
  content: "\e902";
}
.fa-address-book-o:before {
  content: "\e903";
}
.fa-address-card:before {
  content: "\e904";
}
.fa-address-card-o:before {
  content: "\e905";
}
.fa-adjust:before {
  content: "\e906";
}
.fa-adn:before {
  content: "\e907";
}
.fa-align-center:before {
  content: "\e908";
}
.fa-align-justify:before {
  content: "\e909";
}
.fa-align-left:before {
  content: "\e90a";
}
.fa-align-right:before {
  content: "\e90b";
}
.fa-amazon:before {
  content: "\e90c";
}
.fa-ambulance:before {
  content: "\e90d";
}
.fa-american-sign-language-interpreting:before {
  content: "\e90e";
}
.fa-anchor:before {
  content: "\e90f";
}
.fa-android:before {
  content: "\e910";
}
.fa-angellist:before {
  content: "\e911";
}
.fa-angle-double-down:before {
  content: "\e912";
}
.fa-angle-double-left:before {
  content: "\e913";
}
.fa-angle-double-right:before {
  content: "\e914";
}
.fa-angle-double-up:before {
  content: "\e915";
}
.fa-angle-down:before {
  content: "\e916";
}
.fa-angle-left:before {
  content: "\e917";
}
.fa-angle-right:before {
  content: "\e918";
}
.fa-angle-up:before {
  content: "\e919";
}
.fa-apple:before {
  content: "\e91a";
}
.fa-archive:before {
  content: "\e91b";
}
.fa-archive-org:before {
  content: "\e91c";
}
.fa-archlinux:before {
  content: "\e91d";
}
.fa-area-chart:before {
  content: "\e91e";
}
.fa-arrow-circle-down:before {
  content: "\e91f";
}
.fa-arrow-circle-left:before {
  content: "\e920";
}
.fa-arrow-circle-o-down:before {
  content: "\e921";
}
.fa-arrow-circle-o-left:before {
  content: "\e922";
}
.fa-arrow-circle-o-right:before {
  content: "\e923";
}
.fa-arrow-circle-o-up:before {
  content: "\e924";
}
.fa-arrow-circle-right:before {
  content: "\e925";
}
.fa-arrow-circle-up:before {
  content: "\e926";
}
.fa-arrow-down:before {
  content: "\e927";
}
.fa-arrow-left:before {
  content: "\e928";
}
.fa-arrow-right:before {
  content: "\e929";
}
.fa-arrows:before {
  content: "\e92a";
}
.fa-arrows-alt:before {
  content: "\e92b";
}
.fa-arrows-h:before {
  content: "\e92c";
}
.fa-arrows-v:before {
  content: "\e92d";
}
.fa-arrow-up:before {
  content: "\e92e";
}
.fa-artstation:before {
  content: "\e92f";
}
.fa-askfm:before {
  content: "\e930";
}
.fa-assistive-listening-systems:before {
  content: "\e931";
}
.fa-asterisk:before {
  content: "\e932";
}
.fa-at:before {
  content: "\e933";
}
.fa-att:before {
  content: "\e934";
}
.fa-audio-description:before {
  content: "\e935";
}
.fa-backward:before {
  content: "\e936";
}
.fa-balance-scale:before {
  content: "\e937";
}
.fa-ban:before {
  content: "\e938";
}
.fa-bandcamp:before {
  content: "\e939";
}
.fa-bar-chart:before {
  content: "\e93a";
}
.fa-barcode:before {
  content: "\e93b";
}
.fa-bars:before {
  content: "\e93c";
}
.fa-bath:before {
  content: "\e93d";
}
.fa-battery-empty:before {
  content: "\e93e";
}
.fa-battery-full:before {
  content: "\e93f";
}
.fa-battery-half:before {
  content: "\e940";
}
.fa-battery-quarter:before {
  content: "\e941";
}
.fa-battery-three-quarters:before {
  content: "\e942";
}
.fa-bed:before {
  content: "\e943";
}
.fa-beer:before {
  content: "\e944";
}
.fa-behance:before {
  content: "\e945";
}
.fa-behance-square:before {
  content: "\e946";
}
.fa-bell:before {
  content: "\e947";
}
.fa-bell-o:before {
  content: "\e948";
}
.fa-bell-rigning-o:before {
  content: "\e949";
}
.fa-bell-ringing:before {
  content: "\e94a";
}
.fa-bell-slash:before {
  content: "\e94b";
}
.fa-bell-slash-o:before {
  content: "\e94c";
}
.fa-bicycle:before {
  content: "\e94d";
}
.fa-binoculars:before {
  content: "\e94e";
}
.fa-biometric:before {
  content: "\e94f";
}
.fa-birthday-cake:before {
  content: "\e950";
}
.fa-bitbucket:before {
  content: "\e951";
}
.fa-bitbucket-square:before {
  content: "\e952";
}
.fa-black-tie:before {
  content: "\e953";
}
.fa-blind:before {
  content: "\e954";
}
.fa-blockstack:before {
  content: "\e955";
}
.fa-bluetooth:before {
  content: "\e956";
}
.fa-bluetooth-b:before {
  content: "\e957";
}
.fa-boardgamegeek:before {
  content: "\e958";
}
.fa-bold:before {
  content: "\e959";
}
.fa-bolt:before {
  content: "\e95a";
}
.fa-bomb:before {
  content: "\e95b";
}
.fa-book:before {
  content: "\e95c";
}
.fa-bookmark:before {
  content: "\e95d";
}
.fa-bookmark-o:before {
  content: "\e95e";
}
.fa-bootstrap:before {
  content: "\e95f";
}
.fa-braille:before {
  content: "\e960";
}
.fa-briefcase:before {
  content: "\e961";
}
.fa-btc:before {
  content: "\e962";
}
.fa-bug:before {
  content: "\e963";
}
.fa-building:before {
  content: "\e964";
}
.fa-building-o:before {
  content: "\e965";
}
.fa-bullhorn:before {
  content: "\e966";
}
.fa-bullseye:before {
  content: "\e967";
}
.fa-bunny:before {
  content: "\e968";
}
.fa-bus:before {
  content: "\e969";
}
.fa-buymeacoffee:before {
  content: "\e96a";
}
.fa-buysellads:before {
  content: "\e96b";
}
.fa-c:before {
  content: "\e96c";
}
.fa-calculator:before {
  content: "\e96d";
}
.fa-calendar:before {
  content: "\e96e";
}
.fa-calendar-check-o:before {
  content: "\e96f";
}
.fa-calendar-minus-o:before {
  content: "\e970";
}
.fa-calendar-o:before {
  content: "\e971";
}
.fa-calendar-plus-o:before {
  content: "\e972";
}
.fa-calendar-times-o:before {
  content: "\e973";
}
.fa-camera:before {
  content: "\e974";
}
.fa-camera-retro:before {
  content: "\e975";
}
.fa-car:before {
  content: "\e976";
}
.fa-caret-down:before {
  content: "\e977";
}
.fa-caret-left:before {
  content: "\e978";
}
.fa-caret-right:before {
  content: "\e979";
}
.fa-caret-square-o-down:before {
  content: "\e97a";
}
.fa-caret-square-o-left:before {
  content: "\e97b";
}
.fa-caret-square-o-right:before {
  content: "\e97c";
}
.fa-caret-square-o-up:before {
  content: "\e97d";
}
.fa-caret-up:before {
  content: "\e97e";
}
.fa-cart-arrow-down:before {
  content: "\e97f";
}
.fa-cart-plus:before {
  content: "\e980";
}
.fa-cc:before {
  content: "\e981";
}
.fa-cc-amex:before {
  content: "\e982";
}
.fa-cc-by:before {
  content: "\e983";
}
.fa-cc-cc:before {
  content: "\e984";
}
.fa-cc-diners-club:before {
  content: "\e985";
}
.fa-cc-discover:before {
  content: "\e986";
}
.fa-cc-jcb:before {
  content: "\e987";
}
.fa-cc-mastercard:before {
  content: "\e988";
}
.fa-cc-nc:before {
  content: "\e989";
}
.fa-cc-nc-eu:before {
  content: "\e98a";
}
.fa-cc-nc-jp:before {
  content: "\e98b";
}
.fa-cc-nd:before {
  content: "\e98c";
}
.fa-cc-paypal:before {
  content: "\e98d";
}
.fa-cc-pd:before {
  content: "\e98e";
}
.fa-cc-remix:before {
  content: "\e98f";
}
.fa-cc-sa:before {
  content: "\e990";
}
.fa-cc-share:before {
  content: "\e991";
}
.fa-cc-stripe:before {
  content: "\e992";
}
.fa-cc-visa:before {
  content: "\e993";
}
.fa-cc-zero:before {
  content: "\e994";
}
.fa-certificate:before {
  content: "\e995";
}
.fa-chain-broken:before {
  content: "\e996";
}
.fa-check:before {
  content: "\e997";
}
.fa-check-circle:before {
  content: "\e998";
}
.fa-check-circle-o:before {
  content: "\e999";
}
.fa-check-square:before {
  content: "\e99a";
}
.fa-check-square-o:before {
  content: "\e99b";
}
.fa-chevron-circle-down:before {
  content: "\e99c";
}
.fa-chevron-circle-left:before {
  content: "\e99d";
}
.fa-chevron-circle-right:before {
  content: "\e99e";
}
.fa-chevron-circle-up:before {
  content: "\e99f";
}
.fa-chevron-down:before {
  content: "\e9a0";
}
.fa-chevron-left:before {
  content: "\e9a1";
}
.fa-chevron-right:before {
  content: "\e9a2";
}
.fa-chevron-up:before {
  content: "\e9a3";
}
.fa-child:before {
  content: "\e9a4";
}
.fa-chrome:before {
  content: "\e9a5";
}
.fa-circle:before {
  content: "\e9a6";
}
.fa-circle-o:before {
  content: "\e9a7";
}
.fa-circle-o-notch:before {
  content: "\e9a8";
}
.fa-circle-thin:before {
  content: "\e9a9";
}
.fa-classicpress:before {
  content: "\e9aa";
}
.fa-classicpress-circle:before {
  content: "\e9ab";
}
.fa-clipboard:before {
  content: "\e9ac";
}
.fa-clock-o:before {
  content: "\e9ad";
}
.fa-clone:before {
  content: "\e9ae";
}
.fa-cloud:before {
  content: "\e9af";
}
.fa-cloud-download:before {
  content: "\e9b0";
}
.fa-cloud-upload:before {
  content: "\e9b1";
}
.fa-code:before {
  content: "\e9b2";
}
.fa-code-fork:before {
  content: "\e9b3";
}
.fa-codepen:before {
  content: "\e9b4";
}
.fa-codiepie:before {
  content: "\e9b5";
}
.fa-coffee:before {
  content: "\e9b6";
}
.fa-cog:before {
  content: "\e9b7";
}
.fa-cogs:before {
  content: "\e9b8";
}
.fa-columns:before {
  content: "\e9b9";
}
.fa-comment:before {
  content: "\e9ba";
}
.fa-commenting:before {
  content: "\e9bb";
}
.fa-commenting-o:before {
  content: "\e9bc";
}
.fa-comment-o:before {
  content: "\e9bd";
}
.fa-comments:before {
  content: "\e9be";
}
.fa-comments-o:before {
  content: "\e9bf";
}
.fa-compass:before {
  content: "\e9c0";
}
.fa-compress:before {
  content: "\e9c1";
}
.fa-connectdevelop:before {
  content: "\e9c2";
}
.fa-contao:before {
  content: "\e9c3";
}
.fa-conway-glider:before {
  content: "\e9c4";
}
.fa-copyright:before {
  content: "\e9c5";
}
.fa-creative-commons:before {
  content: "\e9c6";
}
.fa-credit-card:before {
  content: "\e9c7";
}
.fa-credit-card-alt:before {
  content: "\e9c8";
}
.fa-crop:before {
  content: "\e9c9";
}
.fa-crosshairs:before {
  content: "\e9ca";
}
.fa-csharp:before {
  content: "\e9cb";
}
.fa-css3:before {
  content: "\e9cc";
}
.fa-cube:before {
  content: "\e9cd";
}
.fa-cubes:before {
  content: "\e9ce";
}
.fa-cutlery:before {
  content: "\e9cf";
}
.fa-dashcube:before {
  content: "\e9d0";
}
.fa-database:before {
  content: "\e9d1";
}
.fa-deaf:before {
  content: "\e9d2";
}
.fa-debian:before {
  content: "\e9d3";
}
.fa-delicious:before {
  content: "\e9d4";
}
.fa-desktop:before {
  content: "\e9d5";
}
.fa-deviantart:before {
  content: "\e9d6";
}
.fa-dev-to:before {
  content: "\e9d7";
}
.fa-diamond:before {
  content: "\e9d8";
}
.fa-diaspora:before {
  content: "\e9d9";
}
.fa-digg:before {
  content: "\e9da";
}
.fa-digitalocean:before {
  content: "\e9db";
}
.fa-discord:before {
  content: "\e9dc";
}
.fa-discord-alt:before {
  content: "\e9dd";
}
.fa-dogmazic:before {
  content: "\e9de";
}
.fa-dot-circle-o:before {
  content: "\e9df";
}
.fa-download:before {
  content: "\e9e0";
}
.fa-dribbble:before {
  content: "\e9e1";
}
.fa-dropbox:before {
  content: "\e9e2";
}
.fa-drupal:before {
  content: "\e9e3";
}
.fa-edge:before {
  content: "\e9e4";
}
.fa-eercast:before {
  content: "\e9e5";
}
.fa-eject:before {
  content: "\e9e6";
}
.fa-ellipsis-h:before {
  content: "\e9e7";
}
.fa-ellipsis-v:before {
  content: "\e9e8";
}
.fa-email-bulk:before {
  content: "\e9e9";
}
.fa-email-bulk-o:before {
  content: "\e9ea";
}
.fa-emby:before {
  content: "\e9eb";
}
.fa-empire:before {
  content: "\e9ec";
}
.fa-envelope:before {
  content: "\e9ed";
}
.fa-envelope-o:before {
  content: "\e9ee";
}
.fa-envelope-open:before {
  content: "\e9ef";
}
.fa-envelope-open-o:before {
  content: "\e9f0";
}
.fa-envelope-square:before {
  content: "\e9f1";
}
.fa-envira:before {
  content: "\e9f2";
}
.fa-eraser:before {
  content: "\e9f3";
}
.fa-ethereum:before {
  content: "\e9f4";
}
.fa-etsy:before {
  content: "\e9f5";
}
.fa-eur:before {
  content: "\e9f6";
}
.fa-exchange:before {
  content: "\e9f7";
}
.fa-exclamation:before {
  content: "\e9f8";
}
.fa-exclamation-circle:before {
  content: "\e9f9";
}
.fa-exclamation-triangle:before {
  content: "\e9fa";
}
.fa-expand:before {
  content: "\e9fb";
}
.fa-expeditedssl:before {
  content: "\e9fc";
}
.fa-external-link:before {
  content: "\e9fd";
}
.fa-external-link-square:before {
  content: "\e9fe";
}
.fa-eye:before {
  content: "\e9ff";
}
.fa-eyedropper:before {
  content: "\ea00";
}
.fa-eye-slash:before {
  content: "\ea01";
}
.fa-facebook:before {
  content: "\ea02";
}
.fa-facebook-messenger:before {
  content: "\ea03";
}
.fa-facebook-official:before {
  content: "\ea04";
}
.fa-facebook-square:before {
  content: "\ea05";
}
.fa-fast-backward:before {
  content: "\ea06";
}
.fa-fast-forward:before {
  content: "\ea07";
}
.fa-fax:before {
  content: "\ea08";
}
.fa-f-droid:before {
  content: "\ea09";
}
.fa-female:before {
  content: "\ea0a";
}
.fa-ffmpeg:before {
  content: "\ea0b";
}
.fa-fighter-jet:before {
  content: "\ea0c";
}
.fa-file:before {
  content: "\ea0d";
}
.fa-file-archive-o:before {
  content: "\ea0e";
}
.fa-file-audio-o:before {
  content: "\ea0f";
}
.fa-file-code-o:before {
  content: "\ea10";
}
.fa-file-epub:before {
  content: "\ea11";
}
.fa-file-excel-o:before {
  content: "\ea12";
}
.fa-file-image-o:before {
  content: "\ea13";
}
.fa-file-o:before {
  content: "\ea14";
}
.fa-file-pdf-o:before {
  content: "\ea15";
}
.fa-file-powerpoint-o:before {
  content: "\ea16";
}
.fa-files-o:before {
  content: "\ea17";
}
.fa-file-text:before {
  content: "\ea18";
}
.fa-file-text-o:before {
  content: "\ea19";
}
.fa-file-video-o:before {
  content: "\ea1a";
}
.fa-file-word-o:before {
  content: "\ea1b";
}
.fa-film:before {
  content: "\ea1c";
}
.fa-filter:before {
  content: "\ea1d";
}
.fa-fire:before {
  content: "\ea1e";
}
.fa-fire-extinguisher:before {
  content: "\ea1f";
}
.fa-firefox:before {
  content: "\ea20";
}
.fa-first-order:before {
  content: "\ea21";
}
.fa-flag:before {
  content: "\ea22";
}
.fa-flag-checkered:before {
  content: "\ea23";
}
.fa-flag-o:before {
  content: "\ea24";
}
.fa-flask:before {
  content: "\ea25";
}
.fa-flickr:before {
  content: "\ea26";
}
.fa-floppy-o:before {
  content: "\ea27";
}
.fa-folder:before {
  content: "\ea28";
}
.fa-folder-o:before {
  content: "\ea29";
}
.fa-folder-open:before {
  content: "\ea2a";
}
.fa-folder-open-o:before {
  content: "\ea2b";
}
.fa-font:before {
  content: "\ea2c";
}
.fa-font-awesome:before {
  content: "\ea2d";
}
.fa-fonticons:before {
  content: "\ea2e";
}
.fa-fork-awesome:before {
  content: "\ea2f";
}
.fa-fort-awesome:before {
  content: "\ea30";
}
.fa-forumbee:before {
  content: "\ea31";
}
.fa-forward:before {
  content: "\ea32";
}
.fa-foursquare:before {
  content: "\ea33";
}
.fa-free-code-camp:before {
  content: "\ea34";
}
.fa-freedombox:before {
  content: "\ea35";
}
.fa-friendica:before {
  content: "\ea36";
}
.fa-frown-o:before {
  content: "\ea37";
}
.fa-funkwhale:before {
  content: "\ea38";
}
.fa-futbol-o:before {
  content: "\ea39";
}
.fa-gamepad:before {
  content: "\ea3a";
}
.fa-gavel:before {
  content: "\ea3b";
}
.fa-gbp:before {
  content: "\ea3c";
}
.fa-genderless:before {
  content: "\ea3d";
}
.fa-get-pocket:before {
  content: "\ea3e";
}
.fa-gg:before {
  content: "\ea3f";
}
.fa-gg-circle:before {
  content: "\ea40";
}
.fa-gift:before {
  content: "\ea41";
}
.fa-gimp:before {
  content: "\ea42";
}
.fa-git:before {
  content: "\ea43";
}
.fa-gitea:before {
  content: "\ea44";
}
.fa-github:before {
  content: "\ea45";
}
.fa-github-alt:before {
  content: "\ea46";
}
.fa-github-square:before {
  content: "\ea47";
}
.fa-gitlab:before {
  content: "\ea48";
}
.fa-git-square:before {
  content: "\ea49";
}
.fa-glass:before {
  content: "\ea4a";
}
.fa-glide:before {
  content: "\ea4b";
}
.fa-glide-g:before {
  content: "\ea4c";
}
.fa-globe:before {
  content: "\ea4d";
}
.fa-globe-e:before {
  content: "\ea4e";
}
.fa-globe-w:before {
  content: "\ea4f";
}
.fa-gnu:before {
  content: "\ea50";
}
.fa-gnupg:before {
  content: "\ea51";
}
.fa-gnu-social:before {
  content: "\ea52";
}
.fa-google:before {
  content: "\ea53";
}
.fa-google-play:before {
  content: "\ea54";
}
.fa-google-plus:before {
  content: "\ea55";
}
.fa-google-plus-official:before {
  content: "\ea56";
}
.fa-google-plus-square:before {
  content: "\ea57";
}
.fa-google-wallet:before {
  content: "\ea58";
}
.fa-graduation-cap:before {
  content: "\ea59";
}
.fa-gratipay:before {
  content: "\ea5a";
}
.fa-grav:before {
  content: "\ea5b";
}
.fa-hackaday:before {
  content: "\ea5c";
}
.fa-hacker-news:before {
  content: "\ea5d";
}
.fa-hackster:before {
  content: "\ea5e";
}
.fa-hal:before {
  content: "\ea5f";
}
.fa-hand-lizard-o:before {
  content: "\ea60";
}
.fa-hand-o-down:before {
  content: "\ea61";
}
.fa-hand-o-left:before {
  content: "\ea62";
}
.fa-hand-o-right:before {
  content: "\ea63";
}
.fa-hand-o-up:before {
  content: "\ea64";
}
.fa-hand-paper-o:before {
  content: "\ea65";
}
.fa-hand-peace-o:before {
  content: "\ea66";
}
.fa-hand-pointer-o:before {
  content: "\ea67";
}
.fa-hand-rock-o:before {
  content: "\ea68";
}
.fa-hand-scissors-o:before {
  content: "\ea69";
}
.fa-handshake-o:before {
  content: "\ea6a";
}
.fa-hand-spock-o:before {
  content: "\ea6b";
}
.fa-hashnode:before {
  content: "\ea6c";
}
.fa-hashtag:before {
  content: "\ea6d";
}
.fa-hdd-o:before {
  content: "\ea6e";
}
.fa-header:before {
  content: "\ea6f";
}
.fa-headphones:before {
  content: "\ea70";
}
.fa-heart:before {
  content: "\ea71";
}
.fa-heartbeat:before {
  content: "\ea72";
}
.fa-heart-o:before {
  content: "\ea73";
}
.fa-heroku:before {
  content: "\ea74";
}
.fa-history:before {
  content: "\ea75";
}
.fa-home:before {
  content: "\ea76";
}
.fa-home-assistant:before {
  content: "\ea77";
}
.fa-hospital-o:before {
  content: "\ea78";
}
.fa-hourglass:before {
  content: "\ea79";
}
.fa-hourglass-end:before {
  content: "\ea7a";
}
.fa-hourglass-half:before {
  content: "\ea7b";
}
.fa-hourglass-o:before {
  content: "\ea7c";
}
.fa-hourglass-start:before {
  content: "\ea7d";
}
.fa-houzz:before {
  content: "\ea7e";
}
.fa-h-square:before {
  content: "\ea7f";
}
.fa-html5:before {
  content: "\ea80";
}
.fa-hubzilla:before {
  content: "\ea81";
}
.fa-i-cursor:before {
  content: "\ea82";
}
.fa-id-badge:before {
  content: "\ea83";
}
.fa-id-card:before {
  content: "\ea84";
}
.fa-id-card-o:before {
  content: "\ea85";
}
.fa-ils:before {
  content: "\ea86";
}
.fa-imdb:before {
  content: "\ea87";
}
.fa-inbox:before {
  content: "\ea88";
}
.fa-indent:before {
  content: "\ea89";
}
.fa-industry:before {
  content: "\ea8a";
}
.fa-info:before {
  content: "\ea8b";
}
.fa-info-circle:before {
  content: "\ea8c";
}
.fa-inkscape:before {
  content: "\ea8d";
}
.fa-inr:before {
  content: "\ea8e";
}
.fa-instagram:before {
  content: "\ea8f";
}
.fa-internet-explorer:before {
  content: "\ea90";
}
.fa-ioxhost:before {
  content: "\ea91";
}
.fa-italic:before {
  content: "\ea92";
}
.fa-java:before {
  content: "\ea93";
}
.fa-jirafeau:before {
  content: "\ea94";
}
.fa-joomla:before {
  content: "\ea95";
}
.fa-joplin:before {
  content: "\ea96";
}
.fa-jpy:before {
  content: "\ea97";
}
.fa-jsfiddle:before {
  content: "\ea98";
}
.fa-julia:before {
  content: "\ea99";
}
.fa-jupyter:before {
  content: "\ea9a";
}
.fa-key:before {
  content: "\ea9b";
}
.fa-keybase:before {
  content: "\ea9c";
}
.fa-keyboard-o:before {
  content: "\ea9d";
}
.fa-key-modern:before {
  content: "\ea9e";
}
.fa-krw:before {
  content: "\ea9f";
}
.fa-language:before {
  content: "\eaa0";
}
.fa-laptop:before {
  content: "\eaa1";
}
.fa-laravel:before {
  content: "\eaa2";
}
.fa-lastfm:before {
  content: "\eaa3";
}
.fa-lastfm-square:before {
  content: "\eaa4";
}
.fa-leaf:before {
  content: "\eaa5";
}
.fa-leanpub:before {
  content: "\eaa6";
}
.fa-lemon-o:before {
  content: "\eaa7";
}
.fa-level-down:before {
  content: "\eaa8";
}
.fa-level-up:before {
  content: "\eaa9";
}
.fa-liberapay:before {
  content: "\eaaa";
}
.fa-liberapay-square:before {
  content: "\eaab";
}
.fa-life-ring:before {
  content: "\eaac";
}
.fa-lightbulb-o:before {
  content: "\eaad";
}
.fa-line-chart:before {
  content: "\eaae";
}
.fa-link:before {
  content: "\eaaf";
}
.fa-linkedin:before {
  content: "\eab0";
}
.fa-linkedin-square:before {
  content: "\eab1";
}
.fa-linode:before {
  content: "\eab2";
}
.fa-linux:before {
  content: "\eab3";
}
.fa-list:before {
  content: "\eab4";
}
.fa-list-alt:before {
  content: "\eab5";
}
.fa-list-ol:before {
  content: "\eab6";
}
.fa-list-ul:before {
  content: "\eab7";
}
.fa-location-arrow:before {
  content: "\eab8";
}
.fa-lock:before {
  content: "\eab9";
}
.fa-long-arrow-down:before {
  content: "\eaba";
}
.fa-long-arrow-left:before {
  content: "\eabb";
}
.fa-long-arrow-right:before {
  content: "\eabc";
}
.fa-long-arrow-up:before {
  content: "\eabd";
}
.fa-low-vision:before {
  content: "\eabe";
}
.fa-magic:before {
  content: "\eabf";
}
.fa-magnet:before {
  content: "\eac0";
}
.fa-male:before {
  content: "\eac1";
}
.fa-map:before {
  content: "\eac2";
}
.fa-map-marker:before {
  content: "\eac3";
}
.fa-map-o:before {
  content: "\eac4";
}
.fa-map-pin:before {
  content: "\eac5";
}
.fa-map-signs:before {
  content: "\eac6";
}
.fa-mariadb:before {
  content: "\eac7";
}
.fa-markdown:before {
  content: "\eac8";
}
.fa-mars:before {
  content: "\eac9";
}
.fa-mars-double:before {
  content: "\eaca";
}
.fa-mars-stroke:before {
  content: "\eacb";
}
.fa-mars-stroke-h:before {
  content: "\eacc";
}
.fa-mars-stroke-v:before {
  content: "\eacd";
}
.fa-mastodon:before {
  content: "\eace";
}
.fa-mastodon-alt:before {
  content: "\eacf";
}
.fa-mastodon-square:before {
  content: "\ead0";
}
.fa-matrix-org:before {
  content: "\ead1";
}
.fa-maxcdn:before {
  content: "\ead2";
}
.fa-meanpath:before {
  content: "\ead3";
}
.fa-medium:before {
  content: "\ead4";
}
.fa-medium-square:before {
  content: "\ead5";
}
.fa-medkit:before {
  content: "\ead6";
}
.fa-meetup:before {
  content: "\ead7";
}
.fa-meh-o:before {
  content: "\ead8";
}
.fa-mercury:before {
  content: "\ead9";
}
.fa-microchip:before {
  content: "\eada";
}
.fa-microphone:before {
  content: "\eadb";
}
.fa-microphone-slash:before {
  content: "\eadc";
}
.fa-minus:before {
  content: "\eadd";
}
.fa-minus-circle:before {
  content: "\eade";
}
.fa-minus-square:before {
  content: "\eadf";
}
.fa-minus-square-o:before {
  content: "\eae0";
}
.fa-mixcloud:before {
  content: "\eae1";
}
.fa-mobile:before {
  content: "\eae2";
}
.fa-modx:before {
  content: "\eae3";
}
.fa-money:before {
  content: "\eae4";
}
.fa-moon:before {
  content: "\eae5";
}
.fa-moon-o:before {
  content: "\eae6";
}
.fa-motorcycle:before {
  content: "\eae7";
}
.fa-mouse-pointer:before {
  content: "\eae8";
}
.fa-music:before {
  content: "\eae9";
}
.fa-mysql:before {
  content: "\eaea";
}
.fa-neuter:before {
  content: "\eaeb";
}
.fa-newspaper-o:before {
  content: "\eaec";
}
.fa-nextcloud:before {
  content: "\eaed";
}
.fa-nextcloud-square:before {
  content: "\eaee";
}
.fa-nodejs:before {
  content: "\eaef";
}
.fa-nordcast:before {
  content: "\eaf0";
}
.fa-object-group:before {
  content: "\eaf1";
}
.fa-object-ungroup:before {
  content: "\eaf2";
}
.fa-odnoklassniki:before {
  content: "\eaf3";
}
.fa-odnoklassniki-square:before {
  content: "\eaf4";
}
.fa-opencart:before {
  content: "\eaf5";
}
.fa-open-collective:before {
  content: "\eaf6";
}
.fa-openid:before {
  content: "\eaf7";
}
.fa-opera:before {
  content: "\eaf8";
}
.fa-optin-monster:before {
  content: "\eaf9";
}
.fa-orcid:before {
  content: "\eafa";
}
.fa-outdent:before {
  content: "\eafb";
}
.fa-pagelines:before {
  content: "\eafc";
}
.fa-paint-brush:before {
  content: "\eafd";
}
.fa-paperclip:before {
  content: "\eafe";
}
.fa-paper-plane:before {
  content: "\eaff";
}
.fa-paper-plane-o:before {
  content: "\eb00";
}
.fa-paragraph:before {
  content: "\eb01";
}
.fa-patreon:before {
  content: "\eb02";
}
.fa-pause:before {
  content: "\eb03";
}
.fa-pause-circle:before {
  content: "\eb04";
}
.fa-pause-circle-o:before {
  content: "\eb05";
}
.fa-paw:before {
  content: "\eb06";
}
.fa-paypal:before {
  content: "\eb07";
}
.fa-peertube:before {
  content: "\eb08";
}
.fa-pencil:before {
  content: "\eb09";
}
.fa-pencil-square:before {
  content: "\eb0a";
}
.fa-pencil-square-o:before {
  content: "\eb0b";
}
.fa-percent:before {
  content: "\eb0c";
}
.fa-phone:before {
  content: "\eb0d";
}
.fa-phone-square:before {
  content: "\eb0e";
}
.fa-php:before {
  content: "\eb0f";
}
.fa-picture-o:before {
  content: "\eb10";
}
.fa-pie-chart:before {
  content: "\eb11";
}
.fa-pinterest:before {
  content: "\eb12";
}
.fa-pinterest-p:before {
  content: "\eb13";
}
.fa-pinterest-square:before {
  content: "\eb14";
}
.fa-pixelfed:before {
  content: "\eb15";
}
.fa-plane:before {
  content: "\eb16";
}
.fa-play:before {
  content: "\eb17";
}
.fa-play-circle:before {
  content: "\eb18";
}
.fa-play-circle-o:before {
  content: "\eb19";
}
.fa-pleroma:before {
  content: "\eb1a";
}
.fa-plug:before {
  content: "\eb1b";
}
.fa-plume:before {
  content: "\eb1c";
}
.fa-plus:before {
  content: "\eb1d";
}
.fa-plus-circle:before {
  content: "\eb1e";
}
.fa-plus-square:before {
  content: "\eb1f";
}
.fa-plus-square-o:before {
  content: "\eb20";
}
.fa-podcast:before {
  content: "\eb21";
}
.fa-postgresql:before {
  content: "\eb22";
}
.fa-power-off:before {
  content: "\eb23";
}
.fa-print:before {
  content: "\eb24";
}
.fa-product-hunt:before {
  content: "\eb25";
}
.fa-puzzle-piece:before {
  content: "\eb26";
}
.fa-python:before {
  content: "\eb27";
}
.fa-qq:before {
  content: "\eb28";
}
.fa-qrcode:before {
  content: "\eb29";
}
.fa-question:before {
  content: "\eb2a";
}
.fa-question-circle:before {
  content: "\eb2b";
}
.fa-question-circle-o:before {
  content: "\eb2c";
}
.fa-quora:before {
  content: "\eb2d";
}
.fa-quote-left:before {
  content: "\eb2e";
}
.fa-quote-right:before {
  content: "\eb2f";
}
.fa-random:before {
  content: "\eb30";
}
.fa-ravelry:before {
  content: "\eb31";
}
.fa-react:before {
  content: "\eb32";
}
.fa-rebel:before {
  content: "\eb33";
}
.fa-recycle:before {
  content: "\eb34";
}
.fa-reddit:before {
  content: "\eb35";
}
.fa-reddit-alien:before {
  content: "\eb36";
}
.fa-reddit-square:before {
  content: "\eb37";
}
.fa-refresh:before {
  content: "\eb38";
}
.fa-registered:before {
  content: "\eb39";
}
.fa-renren:before {
  content: "\eb3a";
}
.fa-repeat:before {
  content: "\eb3b";
}
.fa-reply:before {
  content: "\eb3c";
}
.fa-reply-all:before {
  content: "\eb3d";
}
.fa-researchgate:before {
  content: "\eb3e";
}
.fa-retweet:before {
  content: "\eb3f";
}
.fa-road:before {
  content: "\eb40";
}
.fa-rocket:before {
  content: "\eb41";
}
.fa-rss:before {
  content: "\eb42";
}
.fa-rss-square:before {
  content: "\eb43";
}
.fa-rub:before {
  content: "\eb44";
}
.fa-safari:before {
  content: "\eb45";
}
.fa-sass:before {
  content: "\eb46";
}
.fa-sass-alt:before {
  content: "\eb47";
}
.fa-scissors:before {
  content: "\eb48";
}
.fa-scribd:before {
  content: "\eb49";
}
.fa-scuttlebutt:before {
  content: "\eb4a";
}
.fa-search:before {
  content: "\eb4b";
}
.fa-search-minus:before {
  content: "\eb4c";
}
.fa-search-plus:before {
  content: "\eb4d";
}
.fa-sellsy:before {
  content: "\eb4e";
}
.fa-server:before {
  content: "\eb4f";
}
.fa-shaarli:before {
  content: "\eb50";
}
.fa-shaarli-o:before {
  content: "\eb51";
}
.fa-share:before {
  content: "\eb52";
}
.fa-share-alt:before {
  content: "\eb53";
}
.fa-share-alt-square:before {
  content: "\eb54";
}
.fa-share-square:before {
  content: "\eb55";
}
.fa-share-square-o:before {
  content: "\eb56";
}
.fa-shield:before {
  content: "\eb57";
}
.fa-ship:before {
  content: "\eb58";
}
.fa-shirtsinbulk:before {
  content: "\eb59";
}
.fa-shopping-bag:before {
  content: "\eb5a";
}
.fa-shopping-basket:before {
  content: "\eb5b";
}
.fa-shopping-cart:before {
  content: "\eb5c";
}
.fa-shower:before {
  content: "\eb5d";
}
.fa-signal:before {
  content: "\eb5e";
}
.fa-signalapp:before {
  content: "\eb5f";
}
.fa-sign-in:before {
  content: "\eb60";
}
.fa-sign-language:before {
  content: "\eb61";
}
.fa-sign-out:before {
  content: "\eb62";
}
.fa-simplybuilt:before {
  content: "\eb63";
}
.fa-sitemap:before {
  content: "\eb64";
}
.fa-skate:before {
  content: "\eb65";
}
.fa-sketchfab:before {
  content: "\eb66";
}
.fa-skyatlas:before {
  content: "\eb67";
}
.fa-skype:before {
  content: "\eb68";
}
.fa-slack:before {
  content: "\eb69";
}
.fa-sliders:before {
  content: "\eb6a";
}
.fa-slideshare:before {
  content: "\eb6b";
}
.fa-smile-o:before {
  content: "\eb6c";
}
.fa-snapchat:before {
  content: "\eb6d";
}
.fa-snapchat-ghost:before {
  content: "\eb6e";
}
.fa-snapchat-square:before {
  content: "\eb6f";
}
.fa-snowdrift:before {
  content: "\eb70";
}
.fa-snowflake-o:before {
  content: "\eb71";
}
.fa-social-home:before {
  content: "\eb72";
}
.fa-sort:before {
  content: "\eb73";
}
.fa-sort-alpha-asc:before {
  content: "\eb74";
}
.fa-sort-alpha-desc:before {
  content: "\eb75";
}
.fa-sort-amount-asc:before {
  content: "\eb76";
}
.fa-sort-amount-desc:before {
  content: "\eb77";
}
.fa-sort-asc:before {
  content: "\eb78";
}
.fa-sort-desc:before {
  content: "\eb79";
}
.fa-sort-numeric-asc:before {
  content: "\eb7a";
}
.fa-sort-numeric-desc:before {
  content: "\eb7b";
}
.fa-soundcloud:before {
  content: "\eb7c";
}
.fa-space-shuttle:before {
  content: "\eb7d";
}
.fa-spell-check:before {
  content: "\eb7e";
}
.fa-spinner:before {
  content: "\eb7f";
}
.fa-spoon:before {
  content: "\eb80";
}
.fa-spotify:before {
  content: "\eb81";
}
.fa-square:before {
  content: "\eb82";
}
.fa-square-o:before {
  content: "\eb83";
}
.fa-stack-exchange:before {
  content: "\eb84";
}
.fa-stack-overflow:before {
  content: "\eb85";
}
.fa-star:before {
  content: "\eb86";
}
.fa-star-half:before {
  content: "\eb87";
}
.fa-star-half-o:before {
  content: "\eb88";
}
.fa-star-o:before {
  content: "\eb89";
}
.fa-steam:before {
  content: "\eb8a";
}
.fa-steam-square:before {
  content: "\eb8b";
}
.fa-step-backward:before {
  content: "\eb8c";
}
.fa-step-forward:before {
  content: "\eb8d";
}
.fa-stethoscope:before {
  content: "\eb8e";
}
.fa-sticky-note:before {
  content: "\eb8f";
}
.fa-sticky-note-o:before {
  content: "\eb90";
}
.fa-stop:before {
  content: "\eb91";
}
.fa-stop-circle:before {
  content: "\eb92";
}
.fa-stop-circle-o:before {
  content: "\eb93";
}
.fa-street-view:before {
  content: "\eb94";
}
.fa-strikethrough:before {
  content: "\eb95";
}
.fa-stumbleupon:before {
  content: "\eb96";
}
.fa-stumbleupon-circle:before {
  content: "\eb97";
}
.fa-subscript:before {
  content: "\eb98";
}
.fa-subway:before {
  content: "\eb99";
}
.fa-suitcase:before {
  content: "\eb9a";
}
.fa-sun:before {
  content: "\eb9b";
}
.fa-sun-o:before {
  content: "\eb9c";
}
.fa-superpowers:before {
  content: "\eb9d";
}
.fa-superscript:before {
  content: "\eb9e";
}
.fa-syncthing:before {
  content: "\eb9f";
}
.fa-table:before {
  content: "\eba0";
}
.fa-tablet:before {
  content: "\eba1";
}
.fa-tachometer:before {
  content: "\eba2";
}
.fa-tag:before {
  content: "\eba3";
}
.fa-tags:before {
  content: "\eba4";
}
.fa-tasks:before {
  content: "\eba5";
}
.fa-taxi:before {
  content: "\eba6";
}
.fa-telegram:before {
  content: "\eba7";
}
.fa-television:before {
  content: "\eba8";
}
.fa-tencent-weibo:before {
  content: "\eba9";
}
.fa-terminal:before {
  content: "\ebaa";
}
.fa-tex:before {
  content: "\ebab";
}
.fa-text-height:before {
  content: "\ebac";
}
.fa-textpattern:before {
  content: "\ebad";
}
.fa-text-width:before {
  content: "\ebae";
}
.fa-th:before {
  content: "\ebaf";
}
.fa-themeisle:before {
  content: "\ebb0";
}
.fa-thermometer-empty:before {
  content: "\ebb1";
}
.fa-thermometer-full:before {
  content: "\ebb2";
}
.fa-thermometer-half:before {
  content: "\ebb3";
}
.fa-thermometer-quarter:before {
  content: "\ebb4";
}
.fa-thermometer-three-quarters:before {
  content: "\ebb5";
}
.fa-th-large:before {
  content: "\ebb6";
}
.fa-th-list:before {
  content: "\ebb7";
}
.fa-thumbs-down:before {
  content: "\ebb8";
}
.fa-thumbs-o-down:before {
  content: "\ebb9";
}
.fa-thumbs-o-up:before {
  content: "\ebba";
}
.fa-thumbs-up:before {
  content: "\ebbb";
}
.fa-thumb-tack:before {
  content: "\ebbc";
}
.fa-ticket:before {
  content: "\ebbd";
}
.fa-times:before {
  content: "\ebbe";
}
.fa-times-circle:before {
  content: "\ebbf";
}
.fa-times-circle-o:before {
  content: "\ebc0";
}
.fa-tint:before {
  content: "\ebc1";
}
.fa-tipeee:before {
  content: "\ebc2";
}
.fa-toggle-off:before {
  content: "\ebc3";
}
.fa-toggle-on:before {
  content: "\ebc4";
}
.fa-tor-onion:before {
  content: "\ebc5";
}
.fa-trademark:before {
  content: "\ebc6";
}
.fa-train:before {
  content: "\ebc7";
}
.fa-transgender:before {
  content: "\ebc8";
}
.fa-transgender-alt:before {
  content: "\ebc9";
}
.fa-trash:before {
  content: "\ebca";
}
.fa-trash-o:before {
  content: "\ebcb";
}
.fa-tree:before {
  content: "\ebcc";
}
.fa-trello:before {
  content: "\ebcd";
}
.fa-tripadvisor:before {
  content: "\ebce";
}
.fa-trophy:before {
  content: "\ebcf";
}
.fa-truck:before {
  content: "\ebd0";
}
.fa-try:before {
  content: "\ebd1";
}
.fa-tty:before {
  content: "\ebd2";
}
.fa-tumblr:before {
  content: "\ebd3";
}
.fa-tumblr-square:before {
  content: "\ebd4";
}
.fa-twitch:before {
  content: "\ebd5";
}
.fa-twitter:before {
  content: "\ebd6";
}
.fa-twitter-square:before {
  content: "\ebd7";
}
.fa-umbrella:before {
  content: "\ebd8";
}
.fa-underline:before {
  content: "\ebd9";
}
.fa-undo:before {
  content: "\ebda";
}
.fa-unity:before {
  content: "\ebdb";
}
.fa-universal-access:before {
  content: "\ebdc";
}
.fa-university:before {
  content: "\ebdd";
}
.fa-unlock:before {
  content: "\ebde";
}
.fa-unlock-alt:before {
  content: "\ebdf";
}
.fa-unslpash:before {
  content: "\ebe0";
}
.fa-upload:before {
  content: "\ebe1";
}
.fa-usb:before {
  content: "\ebe2";
}
.fa-usd:before {
  content: "\ebe3";
}
.fa-user:before {
  content: "\ebe4";
}
.fa-user-circle:before {
  content: "\ebe5";
}
.fa-user-circle-o:before {
  content: "\ebe6";
}
.fa-user-md:before {
  content: "\ebe7";
}
.fa-user-o:before {
  content: "\ebe8";
}
.fa-user-plus:before {
  content: "\ebe9";
}
.fa-users:before {
  content: "\ebea";
}
.fa-user-secret:before {
  content: "\ebeb";
}
.fa-user-times:before {
  content: "\ebec";
}
.fa-venus:before {
  content: "\ebed";
}
.fa-venus-double:before {
  content: "\ebee";
}
.fa-venus-mars:before {
  content: "\ebef";
}
.fa-viacoin:before {
  content: "\ebf0";
}
.fa-viadeo:before {
  content: "\ebf1";
}
.fa-viadeo-square:before {
  content: "\ebf2";
}
.fa-video-camera:before {
  content: "\ebf3";
}
.fa-vimeo:before {
  content: "\ebf4";
}
.fa-vimeo-square:before {
  content: "\ebf5";
}
.fa-vine:before {
  content: "\ebf6";
}
.fa-vk:before {
  content: "\ebf7";
}
.fa-volume-control-phone:before {
  content: "\ebf8";
}
.fa-volume-down:before {
  content: "\ebf9";
}
.fa-volume-mute:before {
  content: "\ebfa";
}
.fa-volume-off:before {
  content: "\ebfb";
}
.fa-volume-up:before {
  content: "\ebfc";
}
.fa-weibo:before {
  content: "\ebfd";
}
.fa-weixin:before {
  content: "\ebfe";
}
.fa-whatsapp:before {
  content: "\ebff";
}
.fa-wheelchair:before {
  content: "\ec00";
}
.fa-wheelchair-alt:before {
  content: "\ec01";
}
.fa-wifi:before {
  content: "\ec02";
}
.fa-wikidata:before {
  content: "\ec03";
}
.fa-wikipedia-w:before {
  content: "\ec04";
}
.fa-window-close:before {
  content: "\ec05";
}
.fa-window-close-o:before {
  content: "\ec06";
}
.fa-window-maximize:before {
  content: "\ec07";
}
.fa-window-minimize:before {
  content: "\ec08";
}
.fa-window-restore:before {
  content: "\ec09";
}
.fa-windows:before {
  content: "\ec0a";
}
.fa-wire:before {
  content: "\ec0b";
}
.fa-wordpress:before {
  content: "\ec0c";
}
.fa-wpbeginner:before {
  content: "\ec0d";
}
.fa-wpexplorer:before {
  content: "\ec0e";
}
.fa-wpforms:before {
  content: "\ec0f";
}
.fa-wrench:before {
  content: "\ec10";
}
.fa-xing:before {
  content: "\ec11";
}
.fa-xing-square:before {
  content: "\ec12";
}
.fa-xmpp:before {
  content: "\ec13";
}
.fa-yahoo:before {
  content: "\ec14";
}
.fa-y-combinator:before {
  content: "\ec15";
}
.fa-yelp:before {
  content: "\ec16";
}
.fa-yoast:before {
  content: "\ec17";
}
.fa-youtube:before {
  content: "\ec18";
}
.fa-youtube-play:before {
  content: "\ec19";
}
.fa-youtube-square:before {
  content: "\ec1a";
}
.fa-zotero:before {
  content: "\ec1b";
}
