$icomoon-font-family: "forkawesome" !default;
$icomoon-font-path: "fonts" !default;

$fa-px: "\e900";
$fa-activitypub: "\e901";
$fa-address-book: "\e902";
$fa-address-book-o: "\e903";
$fa-address-card: "\e904";
$fa-address-card-o: "\e905";
$fa-adjust: "\e906";
$fa-adn: "\e907";
$fa-align-center: "\e908";
$fa-align-justify: "\e909";
$fa-align-left: "\e90a";
$fa-align-right: "\e90b";
$fa-amazon: "\e90c";
$fa-ambulance: "\e90d";
$fa-american-sign-language-interpreting: "\e90e";
$fa-anchor: "\e90f";
$fa-android: "\e910";
$fa-angellist: "\e911";
$fa-angle-double-down: "\e912";
$fa-angle-double-left: "\e913";
$fa-angle-double-right: "\e914";
$fa-angle-double-up: "\e915";
$fa-angle-down: "\e916";
$fa-angle-left: "\e917";
$fa-angle-right: "\e918";
$fa-angle-up: "\e919";
$fa-apple: "\e91a";
$fa-archive: "\e91b";
$fa-archive-org: "\e91c";
$fa-archlinux: "\e91d";
$fa-area-chart: "\e91e";
$fa-arrow-circle-down: "\e91f";
$fa-arrow-circle-left: "\e920";
$fa-arrow-circle-o-down: "\e921";
$fa-arrow-circle-o-left: "\e922";
$fa-arrow-circle-o-right: "\e923";
$fa-arrow-circle-o-up: "\e924";
$fa-arrow-circle-right: "\e925";
$fa-arrow-circle-up: "\e926";
$fa-arrow-down: "\e927";
$fa-arrow-left: "\e928";
$fa-arrow-right: "\e929";
$fa-arrows: "\e92a";
$fa-arrows-alt: "\e92b";
$fa-arrows-h: "\e92c";
$fa-arrows-v: "\e92d";
$fa-arrow-up: "\e92e";
$fa-artstation: "\e92f";
$fa-askfm: "\e930";
$fa-assistive-listening-systems: "\e931";
$fa-asterisk: "\e932";
$fa-at: "\e933";
$fa-att: "\e934";
$fa-audio-description: "\e935";
$fa-backward: "\e936";
$fa-balance-scale: "\e937";
$fa-ban: "\e938";
$fa-bandcamp: "\e939";
$fa-bar-chart: "\e93a";
$fa-barcode: "\e93b";
$fa-bars: "\e93c";
$fa-bath: "\e93d";
$fa-battery-empty: "\e93e";
$fa-battery-full: "\e93f";
$fa-battery-half: "\e940";
$fa-battery-quarter: "\e941";
$fa-battery-three-quarters: "\e942";
$fa-bed: "\e943";
$fa-beer: "\e944";
$fa-behance: "\e945";
$fa-behance-square: "\e946";
$fa-bell: "\e947";
$fa-bell-o: "\e948";
$fa-bell-rigning-o: "\e949";
$fa-bell-ringing: "\e94a";
$fa-bell-slash: "\e94b";
$fa-bell-slash-o: "\e94c";
$fa-bicycle: "\e94d";
$fa-binoculars: "\e94e";
$fa-biometric: "\e94f";
$fa-birthday-cake: "\e950";
$fa-bitbucket: "\e951";
$fa-bitbucket-square: "\e952";
$fa-black-tie: "\e953";
$fa-blind: "\e954";
$fa-blockstack: "\e955";
$fa-bluetooth: "\e956";
$fa-bluetooth-b: "\e957";
$fa-boardgamegeek: "\e958";
$fa-bold: "\e959";
$fa-bolt: "\e95a";
$fa-bomb: "\e95b";
$fa-book: "\e95c";
$fa-bookmark: "\e95d";
$fa-bookmark-o: "\e95e";
$fa-bootstrap: "\e95f";
$fa-braille: "\e960";
$fa-briefcase: "\e961";
$fa-btc: "\e962";
$fa-bug: "\e963";
$fa-building: "\e964";
$fa-building-o: "\e965";
$fa-bullhorn: "\e966";
$fa-bullseye: "\e967";
$fa-bunny: "\e968";
$fa-bus: "\e969";
$fa-buymeacoffee: "\e96a";
$fa-buysellads: "\e96b";
$fa-c: "\e96c";
$fa-calculator: "\e96d";
$fa-calendar: "\e96e";
$fa-calendar-check-o: "\e96f";
$fa-calendar-minus-o: "\e970";
$fa-calendar-o: "\e971";
$fa-calendar-plus-o: "\e972";
$fa-calendar-times-o: "\e973";
$fa-camera: "\e974";
$fa-camera-retro: "\e975";
$fa-car: "\e976";
$fa-caret-down: "\e977";
$fa-caret-left: "\e978";
$fa-caret-right: "\e979";
$fa-caret-square-o-down: "\e97a";
$fa-caret-square-o-left: "\e97b";
$fa-caret-square-o-right: "\e97c";
$fa-caret-square-o-up: "\e97d";
$fa-caret-up: "\e97e";
$fa-cart-arrow-down: "\e97f";
$fa-cart-plus: "\e980";
$fa-cc: "\e981";
$fa-cc-amex: "\e982";
$fa-cc-by: "\e983";
$fa-cc-cc: "\e984";
$fa-cc-diners-club: "\e985";
$fa-cc-discover: "\e986";
$fa-cc-jcb: "\e987";
$fa-cc-mastercard: "\e988";
$fa-cc-nc: "\e989";
$fa-cc-nc-eu: "\e98a";
$fa-cc-nc-jp: "\e98b";
$fa-cc-nd: "\e98c";
$fa-cc-paypal: "\e98d";
$fa-cc-pd: "\e98e";
$fa-cc-remix: "\e98f";
$fa-cc-sa: "\e990";
$fa-cc-share: "\e991";
$fa-cc-stripe: "\e992";
$fa-cc-visa: "\e993";
$fa-cc-zero: "\e994";
$fa-certificate: "\e995";
$fa-chain-broken: "\e996";
$fa-check: "\e997";
$fa-check-circle: "\e998";
$fa-check-circle-o: "\e999";
$fa-check-square: "\e99a";
$fa-check-square-o: "\e99b";
$fa-chevron-circle-down: "\e99c";
$fa-chevron-circle-left: "\e99d";
$fa-chevron-circle-right: "\e99e";
$fa-chevron-circle-up: "\e99f";
$fa-chevron-down: "\e9a0";
$fa-chevron-left: "\e9a1";
$fa-chevron-right: "\e9a2";
$fa-chevron-up: "\e9a3";
$fa-child: "\e9a4";
$fa-chrome: "\e9a5";
$fa-circle: "\e9a6";
$fa-circle-o: "\e9a7";
$fa-circle-o-notch: "\e9a8";
$fa-circle-thin: "\e9a9";
$fa-classicpress: "\e9aa";
$fa-classicpress-circle: "\e9ab";
$fa-clipboard: "\e9ac";
$fa-clock-o: "\e9ad";
$fa-clone: "\e9ae";
$fa-cloud: "\e9af";
$fa-cloud-download: "\e9b0";
$fa-cloud-upload: "\e9b1";
$fa-code: "\e9b2";
$fa-code-fork: "\e9b3";
$fa-codepen: "\e9b4";
$fa-codiepie: "\e9b5";
$fa-coffee: "\e9b6";
$fa-cog: "\e9b7";
$fa-cogs: "\e9b8";
$fa-columns: "\e9b9";
$fa-comment: "\e9ba";
$fa-commenting: "\e9bb";
$fa-commenting-o: "\e9bc";
$fa-comment-o: "\e9bd";
$fa-comments: "\e9be";
$fa-comments-o: "\e9bf";
$fa-compass: "\e9c0";
$fa-compress: "\e9c1";
$fa-connectdevelop: "\e9c2";
$fa-contao: "\e9c3";
$fa-conway-glider: "\e9c4";
$fa-copyright: "\e9c5";
$fa-creative-commons: "\e9c6";
$fa-credit-card: "\e9c7";
$fa-credit-card-alt: "\e9c8";
$fa-crop: "\e9c9";
$fa-crosshairs: "\e9ca";
$fa-csharp: "\e9cb";
$fa-css3: "\e9cc";
$fa-cube: "\e9cd";
$fa-cubes: "\e9ce";
$fa-cutlery: "\e9cf";
$fa-dashcube: "\e9d0";
$fa-database: "\e9d1";
$fa-deaf: "\e9d2";
$fa-debian: "\e9d3";
$fa-delicious: "\e9d4";
$fa-desktop: "\e9d5";
$fa-deviantart: "\e9d6";
$fa-dev-to: "\e9d7";
$fa-diamond: "\e9d8";
$fa-diaspora: "\e9d9";
$fa-digg: "\e9da";
$fa-digitalocean: "\e9db";
$fa-discord: "\e9dc";
$fa-discord-alt: "\e9dd";
$fa-dogmazic: "\e9de";
$fa-dot-circle-o: "\e9df";
$fa-download: "\e9e0";
$fa-dribbble: "\e9e1";
$fa-dropbox: "\e9e2";
$fa-drupal: "\e9e3";
$fa-edge: "\e9e4";
$fa-eercast: "\e9e5";
$fa-eject: "\e9e6";
$fa-ellipsis-h: "\e9e7";
$fa-ellipsis-v: "\e9e8";
$fa-email-bulk: "\e9e9";
$fa-email-bulk-o: "\e9ea";
$fa-emby: "\e9eb";
$fa-empire: "\e9ec";
$fa-envelope: "\e9ed";
$fa-envelope-o: "\e9ee";
$fa-envelope-open: "\e9ef";
$fa-envelope-open-o: "\e9f0";
$fa-envelope-square: "\e9f1";
$fa-envira: "\e9f2";
$fa-eraser: "\e9f3";
$fa-ethereum: "\e9f4";
$fa-etsy: "\e9f5";
$fa-eur: "\e9f6";
$fa-exchange: "\e9f7";
$fa-exclamation: "\e9f8";
$fa-exclamation-circle: "\e9f9";
$fa-exclamation-triangle: "\e9fa";
$fa-expand: "\e9fb";
$fa-expeditedssl: "\e9fc";
$fa-external-link: "\e9fd";
$fa-external-link-square: "\e9fe";
$fa-eye: "\e9ff";
$fa-eyedropper: "\ea00";
$fa-eye-slash: "\ea01";
$fa-facebook: "\ea02";
$fa-facebook-messenger: "\ea03";
$fa-facebook-official: "\ea04";
$fa-facebook-square: "\ea05";
$fa-fast-backward: "\ea06";
$fa-fast-forward: "\ea07";
$fa-fax: "\ea08";
$fa-f-droid: "\ea09";
$fa-female: "\ea0a";
$fa-ffmpeg: "\ea0b";
$fa-fighter-jet: "\ea0c";
$fa-file: "\ea0d";
$fa-file-archive-o: "\ea0e";
$fa-file-audio-o: "\ea0f";
$fa-file-code-o: "\ea10";
$fa-file-epub: "\ea11";
$fa-file-excel-o: "\ea12";
$fa-file-image-o: "\ea13";
$fa-file-o: "\ea14";
$fa-file-pdf-o: "\ea15";
$fa-file-powerpoint-o: "\ea16";
$fa-files-o: "\ea17";
$fa-file-text: "\ea18";
$fa-file-text-o: "\ea19";
$fa-file-video-o: "\ea1a";
$fa-file-word-o: "\ea1b";
$fa-film: "\ea1c";
$fa-filter: "\ea1d";
$fa-fire: "\ea1e";
$fa-fire-extinguisher: "\ea1f";
$fa-firefox: "\ea20";
$fa-first-order: "\ea21";
$fa-flag: "\ea22";
$fa-flag-checkered: "\ea23";
$fa-flag-o: "\ea24";
$fa-flask: "\ea25";
$fa-flickr: "\ea26";
$fa-floppy-o: "\ea27";
$fa-folder: "\ea28";
$fa-folder-o: "\ea29";
$fa-folder-open: "\ea2a";
$fa-folder-open-o: "\ea2b";
$fa-font: "\ea2c";
$fa-font-awesome: "\ea2d";
$fa-fonticons: "\ea2e";
$fa-fork-awesome: "\ea2f";
$fa-fort-awesome: "\ea30";
$fa-forumbee: "\ea31";
$fa-forward: "\ea32";
$fa-foursquare: "\ea33";
$fa-free-code-camp: "\ea34";
$fa-freedombox: "\ea35";
$fa-friendica: "\ea36";
$fa-frown-o: "\ea37";
$fa-funkwhale: "\ea38";
$fa-futbol-o: "\ea39";
$fa-gamepad: "\ea3a";
$fa-gavel: "\ea3b";
$fa-gbp: "\ea3c";
$fa-genderless: "\ea3d";
$fa-get-pocket: "\ea3e";
$fa-gg: "\ea3f";
$fa-gg-circle: "\ea40";
$fa-gift: "\ea41";
$fa-gimp: "\ea42";
$fa-git: "\ea43";
$fa-gitea: "\ea44";
$fa-github: "\ea45";
$fa-github-alt: "\ea46";
$fa-github-square: "\ea47";
$fa-gitlab: "\ea48";
$fa-git-square: "\ea49";
$fa-glass: "\ea4a";
$fa-glide: "\ea4b";
$fa-glide-g: "\ea4c";
$fa-globe: "\ea4d";
$fa-globe-e: "\ea4e";
$fa-globe-w: "\ea4f";
$fa-gnu: "\ea50";
$fa-gnupg: "\ea51";
$fa-gnu-social: "\ea52";
$fa-google: "\ea53";
$fa-google-play: "\ea54";
$fa-google-plus: "\ea55";
$fa-google-plus-official: "\ea56";
$fa-google-plus-square: "\ea57";
$fa-google-wallet: "\ea58";
$fa-graduation-cap: "\ea59";
$fa-gratipay: "\ea5a";
$fa-grav: "\ea5b";
$fa-hackaday: "\ea5c";
$fa-hacker-news: "\ea5d";
$fa-hackster: "\ea5e";
$fa-hal: "\ea5f";
$fa-hand-lizard-o: "\ea60";
$fa-hand-o-down: "\ea61";
$fa-hand-o-left: "\ea62";
$fa-hand-o-right: "\ea63";
$fa-hand-o-up: "\ea64";
$fa-hand-paper-o: "\ea65";
$fa-hand-peace-o: "\ea66";
$fa-hand-pointer-o: "\ea67";
$fa-hand-rock-o: "\ea68";
$fa-hand-scissors-o: "\ea69";
$fa-handshake-o: "\ea6a";
$fa-hand-spock-o: "\ea6b";
$fa-hashnode: "\ea6c";
$fa-hashtag: "\ea6d";
$fa-hdd-o: "\ea6e";
$fa-header: "\ea6f";
$fa-headphones: "\ea70";
$fa-heart: "\ea71";
$fa-heartbeat: "\ea72";
$fa-heart-o: "\ea73";
$fa-heroku: "\ea74";
$fa-history: "\ea75";
$fa-home: "\ea76";
$fa-home-assistant: "\ea77";
$fa-hospital-o: "\ea78";
$fa-hourglass: "\ea79";
$fa-hourglass-end: "\ea7a";
$fa-hourglass-half: "\ea7b";
$fa-hourglass-o: "\ea7c";
$fa-hourglass-start: "\ea7d";
$fa-houzz: "\ea7e";
$fa-h-square: "\ea7f";
$fa-html5: "\ea80";
$fa-hubzilla: "\ea81";
$fa-i-cursor: "\ea82";
$fa-id-badge: "\ea83";
$fa-id-card: "\ea84";
$fa-id-card-o: "\ea85";
$fa-ils: "\ea86";
$fa-imdb: "\ea87";
$fa-inbox: "\ea88";
$fa-indent: "\ea89";
$fa-industry: "\ea8a";
$fa-info: "\ea8b";
$fa-info-circle: "\ea8c";
$fa-inkscape: "\ea8d";
$fa-inr: "\ea8e";
$fa-instagram: "\ea8f";
$fa-internet-explorer: "\ea90";
$fa-ioxhost: "\ea91";
$fa-italic: "\ea92";
$fa-java: "\ea93";
$fa-jirafeau: "\ea94";
$fa-joomla: "\ea95";
$fa-joplin: "\ea96";
$fa-jpy: "\ea97";
$fa-jsfiddle: "\ea98";
$fa-julia: "\ea99";
$fa-jupyter: "\ea9a";
$fa-key: "\ea9b";
$fa-keybase: "\ea9c";
$fa-keyboard-o: "\ea9d";
$fa-key-modern: "\ea9e";
$fa-krw: "\ea9f";
$fa-language: "\eaa0";
$fa-laptop: "\eaa1";
$fa-laravel: "\eaa2";
$fa-lastfm: "\eaa3";
$fa-lastfm-square: "\eaa4";
$fa-leaf: "\eaa5";
$fa-leanpub: "\eaa6";
$fa-lemon-o: "\eaa7";
$fa-level-down: "\eaa8";
$fa-level-up: "\eaa9";
$fa-liberapay: "\eaaa";
$fa-liberapay-square: "\eaab";
$fa-life-ring: "\eaac";
$fa-lightbulb-o: "\eaad";
$fa-line-chart: "\eaae";
$fa-link: "\eaaf";
$fa-linkedin: "\eab0";
$fa-linkedin-square: "\eab1";
$fa-linode: "\eab2";
$fa-linux: "\eab3";
$fa-list: "\eab4";
$fa-list-alt: "\eab5";
$fa-list-ol: "\eab6";
$fa-list-ul: "\eab7";
$fa-location-arrow: "\eab8";
$fa-lock: "\eab9";
$fa-long-arrow-down: "\eaba";
$fa-long-arrow-left: "\eabb";
$fa-long-arrow-right: "\eabc";
$fa-long-arrow-up: "\eabd";
$fa-low-vision: "\eabe";
$fa-magic: "\eabf";
$fa-magnet: "\eac0";
$fa-male: "\eac1";
$fa-map: "\eac2";
$fa-map-marker: "\eac3";
$fa-map-o: "\eac4";
$fa-map-pin: "\eac5";
$fa-map-signs: "\eac6";
$fa-mariadb: "\eac7";
$fa-markdown: "\eac8";
$fa-mars: "\eac9";
$fa-mars-double: "\eaca";
$fa-mars-stroke: "\eacb";
$fa-mars-stroke-h: "\eacc";
$fa-mars-stroke-v: "\eacd";
$fa-mastodon: "\eace";
$fa-mastodon-alt: "\eacf";
$fa-mastodon-square: "\ead0";
$fa-matrix-org: "\ead1";
$fa-maxcdn: "\ead2";
$fa-meanpath: "\ead3";
$fa-medium: "\ead4";
$fa-medium-square: "\ead5";
$fa-medkit: "\ead6";
$fa-meetup: "\ead7";
$fa-meh-o: "\ead8";
$fa-mercury: "\ead9";
$fa-microchip: "\eada";
$fa-microphone: "\eadb";
$fa-microphone-slash: "\eadc";
$fa-minus: "\eadd";
$fa-minus-circle: "\eade";
$fa-minus-square: "\eadf";
$fa-minus-square-o: "\eae0";
$fa-mixcloud: "\eae1";
$fa-mobile: "\eae2";
$fa-modx: "\eae3";
$fa-money: "\eae4";
$fa-moon: "\eae5";
$fa-moon-o: "\eae6";
$fa-motorcycle: "\eae7";
$fa-mouse-pointer: "\eae8";
$fa-music: "\eae9";
$fa-mysql: "\eaea";
$fa-neuter: "\eaeb";
$fa-newspaper-o: "\eaec";
$fa-nextcloud: "\eaed";
$fa-nextcloud-square: "\eaee";
$fa-nodejs: "\eaef";
$fa-nordcast: "\eaf0";
$fa-object-group: "\eaf1";
$fa-object-ungroup: "\eaf2";
$fa-odnoklassniki: "\eaf3";
$fa-odnoklassniki-square: "\eaf4";
$fa-opencart: "\eaf5";
$fa-open-collective: "\eaf6";
$fa-openid: "\eaf7";
$fa-opera: "\eaf8";
$fa-optin-monster: "\eaf9";
$fa-orcid: "\eafa";
$fa-outdent: "\eafb";
$fa-pagelines: "\eafc";
$fa-paint-brush: "\eafd";
$fa-paperclip: "\eafe";
$fa-paper-plane: "\eaff";
$fa-paper-plane-o: "\eb00";
$fa-paragraph: "\eb01";
$fa-patreon: "\eb02";
$fa-pause: "\eb03";
$fa-pause-circle: "\eb04";
$fa-pause-circle-o: "\eb05";
$fa-paw: "\eb06";
$fa-paypal: "\eb07";
$fa-peertube: "\eb08";
$fa-pencil: "\eb09";
$fa-pencil-square: "\eb0a";
$fa-pencil-square-o: "\eb0b";
$fa-percent: "\eb0c";
$fa-phone: "\eb0d";
$fa-phone-square: "\eb0e";
$fa-php: "\eb0f";
$fa-picture-o: "\eb10";
$fa-pie-chart: "\eb11";
$fa-pinterest: "\eb12";
$fa-pinterest-p: "\eb13";
$fa-pinterest-square: "\eb14";
$fa-pixelfed: "\eb15";
$fa-plane: "\eb16";
$fa-play: "\eb17";
$fa-play-circle: "\eb18";
$fa-play-circle-o: "\eb19";
$fa-pleroma: "\eb1a";
$fa-plug: "\eb1b";
$fa-plume: "\eb1c";
$fa-plus: "\eb1d";
$fa-plus-circle: "\eb1e";
$fa-plus-square: "\eb1f";
$fa-plus-square-o: "\eb20";
$fa-podcast: "\eb21";
$fa-postgresql: "\eb22";
$fa-power-off: "\eb23";
$fa-print: "\eb24";
$fa-product-hunt: "\eb25";
$fa-puzzle-piece: "\eb26";
$fa-python: "\eb27";
$fa-qq: "\eb28";
$fa-qrcode: "\eb29";
$fa-question: "\eb2a";
$fa-question-circle: "\eb2b";
$fa-question-circle-o: "\eb2c";
$fa-quora: "\eb2d";
$fa-quote-left: "\eb2e";
$fa-quote-right: "\eb2f";
$fa-random: "\eb30";
$fa-ravelry: "\eb31";
$fa-react: "\eb32";
$fa-rebel: "\eb33";
$fa-recycle: "\eb34";
$fa-reddit: "\eb35";
$fa-reddit-alien: "\eb36";
$fa-reddit-square: "\eb37";
$fa-refresh: "\eb38";
$fa-registered: "\eb39";
$fa-renren: "\eb3a";
$fa-repeat: "\eb3b";
$fa-reply: "\eb3c";
$fa-reply-all: "\eb3d";
$fa-researchgate: "\eb3e";
$fa-retweet: "\eb3f";
$fa-road: "\eb40";
$fa-rocket: "\eb41";
$fa-rss: "\eb42";
$fa-rss-square: "\eb43";
$fa-rub: "\eb44";
$fa-safari: "\eb45";
$fa-sass: "\eb46";
$fa-sass-alt: "\eb47";
$fa-scissors: "\eb48";
$fa-scribd: "\eb49";
$fa-scuttlebutt: "\eb4a";
$fa-search: "\eb4b";
$fa-search-minus: "\eb4c";
$fa-search-plus: "\eb4d";
$fa-sellsy: "\eb4e";
$fa-server: "\eb4f";
$fa-shaarli: "\eb50";
$fa-shaarli-o: "\eb51";
$fa-share: "\eb52";
$fa-share-alt: "\eb53";
$fa-share-alt-square: "\eb54";
$fa-share-square: "\eb55";
$fa-share-square-o: "\eb56";
$fa-shield: "\eb57";
$fa-ship: "\eb58";
$fa-shirtsinbulk: "\eb59";
$fa-shopping-bag: "\eb5a";
$fa-shopping-basket: "\eb5b";
$fa-shopping-cart: "\eb5c";
$fa-shower: "\eb5d";
$fa-signal: "\eb5e";
$fa-signalapp: "\eb5f";
$fa-sign-in: "\eb60";
$fa-sign-language: "\eb61";
$fa-sign-out: "\eb62";
$fa-simplybuilt: "\eb63";
$fa-sitemap: "\eb64";
$fa-skate: "\eb65";
$fa-sketchfab: "\eb66";
$fa-skyatlas: "\eb67";
$fa-skype: "\eb68";
$fa-slack: "\eb69";
$fa-sliders: "\eb6a";
$fa-slideshare: "\eb6b";
$fa-smile-o: "\eb6c";
$fa-snapchat: "\eb6d";
$fa-snapchat-ghost: "\eb6e";
$fa-snapchat-square: "\eb6f";
$fa-snowdrift: "\eb70";
$fa-snowflake-o: "\eb71";
$fa-social-home: "\eb72";
$fa-sort: "\eb73";
$fa-sort-alpha-asc: "\eb74";
$fa-sort-alpha-desc: "\eb75";
$fa-sort-amount-asc: "\eb76";
$fa-sort-amount-desc: "\eb77";
$fa-sort-asc: "\eb78";
$fa-sort-desc: "\eb79";
$fa-sort-numeric-asc: "\eb7a";
$fa-sort-numeric-desc: "\eb7b";
$fa-soundcloud: "\eb7c";
$fa-space-shuttle: "\eb7d";
$fa-spell-check: "\eb7e";
$fa-spinner: "\eb7f";
$fa-spoon: "\eb80";
$fa-spotify: "\eb81";
$fa-square: "\eb82";
$fa-square-o: "\eb83";
$fa-stack-exchange: "\eb84";
$fa-stack-overflow: "\eb85";
$fa-star: "\eb86";
$fa-star-half: "\eb87";
$fa-star-half-o: "\eb88";
$fa-star-o: "\eb89";
$fa-steam: "\eb8a";
$fa-steam-square: "\eb8b";
$fa-step-backward: "\eb8c";
$fa-step-forward: "\eb8d";
$fa-stethoscope: "\eb8e";
$fa-sticky-note: "\eb8f";
$fa-sticky-note-o: "\eb90";
$fa-stop: "\eb91";
$fa-stop-circle: "\eb92";
$fa-stop-circle-o: "\eb93";
$fa-street-view: "\eb94";
$fa-strikethrough: "\eb95";
$fa-stumbleupon: "\eb96";
$fa-stumbleupon-circle: "\eb97";
$fa-subscript: "\eb98";
$fa-subway: "\eb99";
$fa-suitcase: "\eb9a";
$fa-sun: "\eb9b";
$fa-sun-o: "\eb9c";
$fa-superpowers: "\eb9d";
$fa-superscript: "\eb9e";
$fa-syncthing: "\eb9f";
$fa-table: "\eba0";
$fa-tablet: "\eba1";
$fa-tachometer: "\eba2";
$fa-tag: "\eba3";
$fa-tags: "\eba4";
$fa-tasks: "\eba5";
$fa-taxi: "\eba6";
$fa-telegram: "\eba7";
$fa-television: "\eba8";
$fa-tencent-weibo: "\eba9";
$fa-terminal: "\ebaa";
$fa-tex: "\ebab";
$fa-text-height: "\ebac";
$fa-textpattern: "\ebad";
$fa-text-width: "\ebae";
$fa-th: "\ebaf";
$fa-themeisle: "\ebb0";
$fa-thermometer-empty: "\ebb1";
$fa-thermometer-full: "\ebb2";
$fa-thermometer-half: "\ebb3";
$fa-thermometer-quarter: "\ebb4";
$fa-thermometer-three-quarters: "\ebb5";
$fa-th-large: "\ebb6";
$fa-th-list: "\ebb7";
$fa-thumbs-down: "\ebb8";
$fa-thumbs-o-down: "\ebb9";
$fa-thumbs-o-up: "\ebba";
$fa-thumbs-up: "\ebbb";
$fa-thumb-tack: "\ebbc";
$fa-ticket: "\ebbd";
$fa-times: "\ebbe";
$fa-times-circle: "\ebbf";
$fa-times-circle-o: "\ebc0";
$fa-tint: "\ebc1";
$fa-tipeee: "\ebc2";
$fa-toggle-off: "\ebc3";
$fa-toggle-on: "\ebc4";
$fa-tor-onion: "\ebc5";
$fa-trademark: "\ebc6";
$fa-train: "\ebc7";
$fa-transgender: "\ebc8";
$fa-transgender-alt: "\ebc9";
$fa-trash: "\ebca";
$fa-trash-o: "\ebcb";
$fa-tree: "\ebcc";
$fa-trello: "\ebcd";
$fa-tripadvisor: "\ebce";
$fa-trophy: "\ebcf";
$fa-truck: "\ebd0";
$fa-try: "\ebd1";
$fa-tty: "\ebd2";
$fa-tumblr: "\ebd3";
$fa-tumblr-square: "\ebd4";
$fa-twitch: "\ebd5";
$fa-twitter: "\ebd6";
$fa-twitter-square: "\ebd7";
$fa-umbrella: "\ebd8";
$fa-underline: "\ebd9";
$fa-undo: "\ebda";
$fa-unity: "\ebdb";
$fa-universal-access: "\ebdc";
$fa-university: "\ebdd";
$fa-unlock: "\ebde";
$fa-unlock-alt: "\ebdf";
$fa-unslpash: "\ebe0";
$fa-upload: "\ebe1";
$fa-usb: "\ebe2";
$fa-usd: "\ebe3";
$fa-user: "\ebe4";
$fa-user-circle: "\ebe5";
$fa-user-circle-o: "\ebe6";
$fa-user-md: "\ebe7";
$fa-user-o: "\ebe8";
$fa-user-plus: "\ebe9";
$fa-users: "\ebea";
$fa-user-secret: "\ebeb";
$fa-user-times: "\ebec";
$fa-venus: "\ebed";
$fa-venus-double: "\ebee";
$fa-venus-mars: "\ebef";
$fa-viacoin: "\ebf0";
$fa-viadeo: "\ebf1";
$fa-viadeo-square: "\ebf2";
$fa-video-camera: "\ebf3";
$fa-vimeo: "\ebf4";
$fa-vimeo-square: "\ebf5";
$fa-vine: "\ebf6";
$fa-vk: "\ebf7";
$fa-volume-control-phone: "\ebf8";
$fa-volume-down: "\ebf9";
$fa-volume-mute: "\ebfa";
$fa-volume-off: "\ebfb";
$fa-volume-up: "\ebfc";
$fa-weibo: "\ebfd";
$fa-weixin: "\ebfe";
$fa-whatsapp: "\ebff";
$fa-wheelchair: "\ec00";
$fa-wheelchair-alt: "\ec01";
$fa-wifi: "\ec02";
$fa-wikidata: "\ec03";
$fa-wikipedia-w: "\ec04";
$fa-window-close: "\ec05";
$fa-window-close-o: "\ec06";
$fa-window-maximize: "\ec07";
$fa-window-minimize: "\ec08";
$fa-window-restore: "\ec09";
$fa-windows: "\ec0a";
$fa-wire: "\ec0b";
$fa-wordpress: "\ec0c";
$fa-wpbeginner: "\ec0d";
$fa-wpexplorer: "\ec0e";
$fa-wpforms: "\ec0f";
$fa-wrench: "\ec10";
$fa-xing: "\ec11";
$fa-xing-square: "\ec12";
$fa-xmpp: "\ec13";
$fa-yahoo: "\ec14";
$fa-y-combinator: "\ec15";
$fa-yelp: "\ec16";
$fa-yoast: "\ec17";
$fa-youtube: "\ec18";
$fa-youtube-play: "\ec19";
$fa-youtube-square: "\ec1a";
$fa-zotero: "\ec1b";

